<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.onstreet.model.mapper.AdminMapper">

	<!-- authVO has a -->
	<resultMap type="authVO" id="memberList">
		<result column="id" property="memberVO.id"/>
		<result column="nickname" property="memberVO.nickName"/>
		<result column="address" property="memberVO.address"/>
		<result column="phone" property="memberVO.phone"/>
		<result column="email" property="memberVO.email"/>
		<result column="name" property="memberVO.name"/>
		<result column="age" property="memberVO.age"/>
		<result column="remove_user_date" property="memberVO.removeUserDate"/>
	</resultMap>
	
	<!-- artist has-a  -->
	 <resultMap type="artistVO" id="artistList">
 		<result column="id" property="memberVO.id"/>
 		<result column="nickname" property="memberVO.nickName"/>
 		<result column="address" property="memberVO.address"/>
 		<result column="phone" property="memberVO.phone"/>
 		<result column="email" property="memberVO.email"/>
 		<result column="name" property="memberVO.name"/>
 		<result column="age" property="memberVO.age"/>
 	</resultMap>
 	
 	<!-- event has a -->
 	<resultMap type="eventVO" id="eventList">
 		<result column="id" property="artistVO.memberVO.id"/>
 		<result column="nickname" property="artistVO.memberVO.nickName"/>
 	</resultMap>
	
	<!-- 정지윤 -->
	<!-- 회원 수 -->
	<select id="getTotalMemberCount" resultType="int">
		select count(*) from os_member
	</select>
	
	<!-- 회원(ROLE_MEMBER) 리스트 불러오기 -->
	<select id="getManageMemberList" resultMap="memberList" parameterType="map">
		SELECT m.id,m.nickname,m.address,m.phone,m.email,m.name,m.age,a.auth_name
		FROM (SELECT row_number() over(order by id desc) as rnum,auth_name,id
		FROM os_auth) a,os_member m
		WHERE m.id=a.id
		AND a.auth_name=#{authName}
		AND m.remove_user_date IS NULL
		AND rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber} 
	</select>
	
		<!-- 회원(ROLE_ARTIST) 리스트 불러오기 -->
	<select id="getManageMemberArtistList" resultMap="memberList" parameterType="map">
		SELECT m.id,m.nickname,m.address,m.phone,m.email,m.name,m.age,a.auth_name
		FROM (SELECT row_number() over(order by id desc) as rnum,auth_name,id
		FROM os_auth) a,os_member m, os_artist t
		WHERE m.id=a.id AND m.id=t.id
		AND a.auth_name=#{authName}
		AND t.check_date IS NOT NULL
		AND m.remove_user_date IS NULL
		AND rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber} 
	</select>
	
	<!-- 미승인 아티스트 수 -->
	<select id="getTotalCheckArtist" resultType="int">
		select count(*) from os_artist where check_date is null
	</select>
	
	<!-- 아티스트 미승인 리스트 불러오기 -->
	<select id="getCheckArtistList" resultMap="artistList" parameterType="pagingBean">
		SELECT m.id,m.nickname,m.address,m.phone,m.email,m.name,t.artist_info
		FROM (SELECT row_number() over(order by nickname desc) AS rnum, id,nickname,address,phone,email,name
		FROM os_member) m,os_artist t
		WHERE check_date is null
		AND m.id=t.id
		AND rnum between #{startRowNumber} and #{endRowNumber}+1
	</select>
	
	<!-- 아티스트 승인 -->
	<update id="checkArtist" parameterType="artistVO">
		update os_artist set check_date=sysdate where id=#{memberVO.id}
	</update>
	
	<!-- 미승인 이벤트 수 -->
	<select id="getTotalCheckEvent" resultType="int">
		select count(*) from os_event where event_check_date is null
	</select>
	
	<!-- 미승인 이벤트 리스트 불러오기 -->
	<select id="getCheckEventList" resultMap="eventList" parameterType="pagingBean">
		SELECT m.nickname,e.event_no, e.event_title, e.event_date, e.event_write_date
		FROM (SELECT row_number() over(order by event_check_date desc) as rnum, event_check_date, event_no,
		event_title, event_image, to_char(event_date,'yyyy"년" mm"월" dd"일"') as event_date,id
		, to_char(event_write_date,'yyyy"년" mm"월" dd"일"') as event_write_date 
		FROM os_event) e, os_member m
		WHERE event_check_date IS NULL
		AND m.id=e.id
		AND rnum between #{startRowNumber} and #{endRowNumber} 
	</select>
	
	<!-- 이벤트 승인 -->
	<update id="checkEvent" parameterType="eventVO">
		update os_event set event_check_date=sysdate where event_no=#{eventNo}
	</update>
</mapper>