<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.onstreet.model.mapper.BoardMapper">
<select id="getTotalNoticeCount" resultType="int">
	select count(*) from os_notice
</select>
<!-- 공지사항리스트 - 김수민 -->
<resultMap type="noticeVO" id="noticeListRM">
      <result property="memberVO.id" column="id"/>
      <result property="memberVO.nickName" column="nickname"/>
   </resultMap>
 <select id="getNoticeList" parameterType="pagingBean" resultMap="noticeListRM">
 	select n.rnum,n.notice_no,n.notice_title,n.notice_write_date,m.nickname
    from (
	select row_number() over(order by notice_no desc) as rnum,notice_no,notice_title,
	to_char(notice_write_date,'YYYY.MM.DD')as notice_write_date,id
	from os_notice) n,os_member m 
	where n.id = m.id 
	and rnum between #{startRowNumber} and #{endRowNumber} 
	order by rnum desc
 </select>
</mapper>