@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-family: "맑은고딕";
}

body{
	position:relative;
	height: 100%
}

.content,#main{
	position:relative;
	min-height: 78vh;
}


/* header 로고 + 검색 */
#header {
	width: 100%;
	border-bottom: 4px solid #999;
}

#header .bitLog {
	width: 30%;
	float: left;
}

#header .bitMainSearch {
	width: 70%;
	float: left;
}

/* header 메뉴 */
#header .navigation ul li {
	width: 23%;
	float: left;
	text-align: center;
	background-color: #999;
}

#header .navigation ul li a {
	text-decoration: none;
	color: inherit;
}

/*footer*/
#footer {
	width: 100%;
	border-top: 4px solid #999;
	padding: 25px;
	height: 100px;
}

.showMain {
	float: inherit;
}
/* 메인페이지 */
#todayShow{
	width:100%;
	height:300px;
	border:1px solid #000;
	float:left;
	margin-top:10px;
}

#todayShow .artistShowLeftBtn{
	width:10%;
	height:100%;
	float:left;
	background-color: #00ff00;
}
#todayShow .artistShow{
	width:80%;
	height:100%;
	float:left;	
	background-color:#ff0000;
}

#todayShow .artistShowRightBtn{
	width:10%;
	height:100%;
	float:left;	
	background-color: #0000ff;
}

/* 로그인  */
#login{
	width: 700px;
	height: 400px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	border:3px solid #e5e5e5;
	display: none;
	z-index:2;
}

#login .loginTitle {
	height: 15%;
	text-align: center;
	border-bottom: 3px solid #e5e5e5;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

#login .loginTitle h3 {
	margin: 0;
}

#login .loginTitle svg {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	cursor: pointer;
}

#login .loginMain {
	width: 100%;
	height: 85%;
	float: left;
	position: relative;
}

#login .loginMain .loginForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login .loginMain .loginForm input {
	width: 300px;
	float: right;
	height: 50px;
	border: 1px solid #e5e5e5;
	padding: 10px;
}

#login .loginMain .loginForm input[type=submit] {
	width: 350px;
}

#login .loginMain .loginForm svg {
	border: 1px solid #e5e5e5;
	position: absolute;
	background-color: #fff;
	padding: 10px;
}

#login .loginMain .loginForm .login-label-group {
	width: 350px;
	height: 50px;
	position: relative;
	margin-bottom: 15px;
}

#login .loginMain .loginForm .login-label-group label {
	position: absolute;
	top: 0;
	left: 45px;
	display: block;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
	padding: 1.4rem;
}

#login .loginMain .loginForm .login-label-group input::placeholder {
	color: transparent;
}	

#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown) {
	padding-top:1.25rem;
	padding-bottom:.25rem;
}
#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown) ~ label {
	padding-top:.25rem;
	padding-bottom:.25rem;
	font-size:12px;
	color:#777;
}

/* 회원가입 + 회원수정 */

#registerTitle{
	margin-top:30px;
}
#registerTitle h1{
	position: relative;
}
#registerTitle h1::before{
	content:"";
	width:100px;
	height: 5px;
	background-color:#999;
	position: absolute;
	bottom:-10px;
	left:50%;
	transform:translate(-50%,0);
}

#registerForm,#updateForm{
	width:600px;
	margin-top:25px;
}

#registerForm input[type=submit] ,#updateForm input[type=submit]{
	width:100%;
	height:50px;
	border:none;
	background-color:#999;
	color:#fff;
	float:left;
	margin-top:15px;
	margin-bottom:15px;
}

#registerForm table tr th,#updateForm table tr th{
	width:150px;
	text-align: center;
}
#registerForm table tr td,#updateForm table tr td{
	width:450px;
}

#registerForm table tr td,#registerForm table tr th,#updateForm table tr td,#updateForm table tr th{
	border:1px solid #e5e5e5;
}

#registerForm table tr td input,#updateForm table tr td input{
	width:100%;
	border:none;
	padding:10px;
}

#registerForm table tr td textarea,#updateForm table tr td textarea{
	width:100%;
	height:200px;
	padding:15px;
	float:left;
}

#registerForm table tr td #registerId,#registerForm table tr td #registerAddress,#registerForm table tr td input[name=phone],#registerForm table tr td input[name=nickName],
#updateForm table tr td #registerId,#updateForm table tr td #registerAddress,#updateForm table tr td input[name=phone],#updateForm table tr td input[name=nickName]{
	width:50%;
	float:left;
}
#registerForm table tr td span,#updateForm table tr td span{
	line-height: 40px;
}
#registerForm table tr td button,#updateForm table tr td button{
	width:50%;
	height: 41px;
	border:none;
	background-color:#999;
}


#registerForm .defaultprofile,#updateForm .defaultprofile{
	float:left;
	height:100px;
	overflow: hidden;
	position: relative;
}
#registerForm .defaultprofile img,#updateForm .defaultprofile img{
	width:100px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}

/* 아티스트 리스트 */
#artist {
	width: 100%;
	float: left;
	margin-left: 150px;
}

.artistList {
	float: left;
	width: 400px;
	margin-bottom: 40px;
}

.artistList img {
	border: 2px solid #000000;
	border-radius: 5px;
	width: 250px;
	height: 320px;
}

.artistList a {
	text-decoration: none;
    color: black;
    padding: 5px 90px 5px 90px;
    display:inline-block;
    border-radius: 5px;
    border: 2px solid #000000;
}

/* 회원가입 체크 */
#choiceRegister{
	width:100%;
	float:left;
	position: relative;
	
}

#choiceRegister .choiceTitle{
	margin-top:60px;
}

#choiceRegister .choiceTitle h1{
	position: relative;	
}

#choiceRegister .choiceTitle h1::before{
	content:"";
	width:100px;
	height: 5px;
	background-color:#999;
	position: absolute;
	bottom:-10px;
	left:50%;
	transform:translate(-50%,0);
}


#choiceRegister ul{
	width:300px;
	list-style:none;	
	margin-top:50px;
}

#choiceRegister ul li:nth-child(1){
	width: 100%;
	height: 300px;
	border:1px solid #e5e5e5;
	border-radius:100%;
	position: relative;
	box-shadow:2px 2px 2px 2px #000;
}
#choiceRegister ul li span{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:36px;
	font-weight: bold;
}
#choiceRegister ul li h3{
	width:100%;
	border:1px solid #e5e5e5;
	padding:15px;
	background-color:#999;
	margin-top:45px;
	color:#fff;
}
#choiceRegister ul li>a{
	color:inherit;
	text-decoration: none;
	width:100%;
	height: 100%;
	border-radius:100%;
	float:left;
}

#choiceRegister ul li h3 a{
	color:inherit;
	text-decoration: none;
}

/* 약관 동의서 */
#checkDocument{margin-top:50px;}

#checkDocument .checkDocumentContent{
	margin-bottom:15px;
}

#checkDocument .checkDocumentTitle h1{
	position: relative;
}
#checkDocument .checkDocumentTitle h1::before{
	content:"";
	width:100px;
	height: 5px;
	background-color:#999;
	position: absolute;
	bottom:-10px;
	left:50%;
	transform:translate(-50%,0);
}

#checkDocument .checkDocumentSubTitle{
	width:100%;
	float:left;
	margin-bottom:15px;
}
#checkDocument .checkDocumentSubTitle span{
	float:left;
	font-size:17px;
	font-weight: bold;
	
}

#checkDocument .checkDocumentContent pre{
	height: 400px;
}
#checkDocument .checkDocumentBtn{
	margin-top:15px;
}
#checkDocument .checkDocumentBtn input{
	width:150px;
	height: 40px;
	background-color:#999;
	border:none;
	margin-right:15px;
	color:#fff; 
}

/*아티스트 상세보기*/
.artistProfileImg img {
	float: left;
	margin-left: 250px;
	border: 2px solid #000000;
	border-radius: 5px;
}

#follow input[type=button] {
	text-decoration: none;
    color: black;
    padding: 5px 10px 5px 10px;
    display:inline-block;
    border-radius: 5px;
    border: 2px solid #000000;
    float: right;
    margin-right: 300px;
}

/*이벤트 리스트*/
.eventList img {
	width: 800px;
	height: 150px;
}

#eventTitle {
	font-weight: bolder;
	font-size: large;
}

#eventDate {
	font-size: medium;
}

#event a {
	text-decoration: none;
    color: black;
    padding: 5px 10px 5px 10px;
    display:inline-block;
    border-radius: 5px;
    border: 2px solid #000000;
    float: right;
    margin-right: 350px;
}

/* 회원가입 성공 */
#registerResult{
	width:500px;
	height: 400px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#registerResult h1{
	margin-bottom:15px;
}

#registerResult h4{
	font-weight: bold;
	color:#ff0000;
}

#registerResult a {
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
	float:left;
	border:1px solid #e5e5e5;
	background-color:#999;
	color:#fff;
	text-decoration: none;
}
/* 이동욱 css */ 
#showDetail img {
width: 100%;
height: 100%;
}

/* 사진 미리보기 */
#multipartPreView{
	width:1400px;
	height: 800px;
	background-color:#fff;
	border:1px solid #e5e5e5;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
	z-index: 2;
	display: none;
	opacity: 0;
}
#multipartPreView .preViewImg{
	width:100%;
	height: 80%;
	position: relative;
}
#multipartPreView .preViewImg .preViewDefault{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#999;
}

#multipartPreView .preViewImg ul{	
	width:100%;
	padding:15px;
}
#multipartPreView .preViewImg ul li{
	float:left;
	width: 19%;
	height: 200px;
	overflow: hidden;
	border:1px solid #000;
	position: relative;
	margin-right: 17px;
	margin-bottom:15px;
}
#multipartPreView .preViewImg ul li:nth-child(5n+0){
	margin-right:0;
}

#multipartPreView .preViewImg ul li img{
	width:100%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#multipartPreViewForm{
	height: 20%;
}

#multipartPreViewForm .multipartPreViewFile input{
	text-align: center;
	display:initial;
	line-height: 50px;
}
#multipartPreViewForm .multipartPreViewFile,#multipartPreViewForm .multipartPreViewBtn{
	height: 50%;
	border-top:1px solid #e5e5e5;
	padding-top:15px;
}
#multipartPreViewForm input[type=button]{
	width:150px;
	height: 50px;
	background-color:#999;
	color:#fff;
	border:none;
	margin-right:10px;
}

