/*********************************************** 가로 1600PX MAX  ***********************************************/
/*480, 768, 1024, 1600*/
/* 반응형 웹 mediaQuery */
@media screen and (max-width:1600px) {
	/*********************************************** 상단[Heeader]-1600px   ***********************************************/
	
	/*메뉴*/
	#header .navigation nav {
		width: 45%;
	}
	/*로그아웃,마이페이지,관리자 버튼 + 검색 */
	#header .navigation .loginbar {
		width: 55%;
	}
	/*로그아웃,마이페이지,관리자 버튼*/
	#header .navigation .loginbar .bitLogin {
		width: 55%;
	}
	/* 검색 */
	#header .navigation .loginbar .bitMainSearch {
		width: 42%;
	}
	
	/***********************************************이용약관-1600px ***********************************************/
	/* 회원가입 - 이용약관*/
	#checkDocument {
		margin-top: 100px;
	}
}
/*********************************************** 가로 1024PX MAX  ***********************************************/
@media screen and (max-width:1024px) {
	/*컨테이너*/
	.container {
		width: 970px;
	}
	/*********************************************** 상단[Heeader]-1024px  ***********************************************/
	/*상단 - 최상위 */
	#header {
		height: 60px;
	}
	/* 메뉴 */
	#header .navigation nav {
		width: 35%;
	}
	#header .navigation nav ul {
		height: 60px;
	}
	#header .navigation nav ul li {
		width: 25%;
		height: 60px;
		line-height: 60px;
		font-size: 16px;
	}
	/*로그아웃,마이페이지,관리자 버튼 + 검색 */
	#header .navigation .loginbar {
		width: 65%;
	}
	/* 로그아웃,마이페이지,관리자 버튼 */
	#header .navigation .loginbar .bitLogin {
		line-height: 60px;
	}
	#header .navigation .loginbar .bitLogin a {
		font-size: 16px;
	}
	/* 검색 */
	#header .bitMainSearch {
		margin-right: 10px;
	}
	#header .bitMainSearch form input[type=text] {
		left: 70px;
		width: 51%;
	}
	#header .bitMainSearch form input[type=submit] {
		width: 70px;
	}
	/*검색 돋보기 아이콘*/
	#header .bitMainSearch #asd {
		height: 60px;
	}
	/*********************************************** 메인-1024px  ***********************************************/
	/*메인페이지-비디오-최상위 */
	#mainVideo {
		height: 57vh;
	}
	/*메인페이지-비디오 안(로그인 하기 전)-로그인*/
	#mainVideo .mainVideoLoginForm span {
		width: 200px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}
	/*추천아티스트 슬라이드*/
	#artisStandardt .artistRecommendation {
		height: 250px;
	}
	/***********************************************약관동의서-1024px***********************************************/
	/*약관 동의서-최상위*/
	#checkDocument {
		margin-top: 40px;
	}
	/***********************************************회원가입[관객,아티스트]선택-1024px ***********************************************/
	/*회원가입 선택-타이틀*/
	#choiceRegister .choiceTitle {
		margin-top: 80px;
	}
	/*회원가입[관객,아티스트]선택*/
	#choiceRegister section {
		margin-top: 87px;
	}
}

/*********************************************** 가로 480PX MAX  ***********************************************/
@media screen and (max-width:480px) {
	/* 컨테이너 */
	.container {
		width: 390px !important;
		    word-break: break-all;
	}

	/*********************************************** 로그인 ***********************************************/

	/*로그인-최상위*/
	#login {
		width: 400px;
		height: 300px;
	}
	/* 로그인타이틀*/
	#login .loginTitle {
		padding: 0;
		height: 50px;
		line-height: 50px;
	}
	#login .loginTitle h3 {
		margin: 0;
	}

	/*********************************************** 상단[Heeader]  ***********************************************/

	/* 상단 - 최상위*/
	#header {
		height: 30px;
	}
	
	/* 메뉴 */
	#header .navigation nav{
		width:40%;
	}
	
	#header .navigation nav ul {
		height: 30px;
	}
	#header .navigation nav ul li {
		height: 30px;
		line-height: 30px;
		font-size: 10px;
	}
	/* 로고 */
	#header .bitLog a img {
		margin-top: 0;
	}
	/* 로그아웃,마이페이지,관리자 버튼 + 검색*/
	#header .navigation .loginbar{
		width:60%;
	}
	
	/* 로그아웃,마이페이지,관리자 버튼*/
	#header .navigation .loginbar .bitLogin {
		width: 70%;
		line-height: 30px;
	}
	#header .navigation .loginbar .bitLogin a {
		font-size: 10px;
		margin-left: 0;
	}
	/* 검색*/
	#header .navigation .loginbar .bitMainSearch {
		width: 20%;
	}
	/*검색 돋보기 아이콘*/
	#header .bitMainSearch #asd {
		width: 9px;
		height: 30px;
	}
	/*********************************************** 메인 ***********************************************/

	/*메인페이지 - 비디오 - 최상위*/
	#mainVideo {
		height: 27vh;
	}
	/*메인페이지 -비디오 안(로그인 후) 환영글*/
	#mainVideo .mainContent h1 {
		font-size: 24px;
	}
	#mainVideo .mainContent h3 {
		font-size: 14px;
		margin-top: 0;
	}
	/*메인페이지 - 비디오 안(로그인 후) 아래 화살표*/
	#mainVideo .mainMoveControl span {
		bottom: 15%;
	}
	#mainVideo .mainMoveControl span svg {
		width: 25px;
		height: 25px;
	}
	/*메인페이지 - 비디오 안(로그인 하기 전) 로그인*/
	#mainVideo .mainVideoLoginForm span {
		width: 90px;
		height: 25px;
		line-height: 25px;
		font-size: 10px;
		margin-right: 10px;
	}
	/* 오늘의 공연 슬라이드 */
	#todayShow .artistShow {
		width: 90%;
		height: 120px;
	}
	/* 오늘의 공연 타이틀 */
	#todayShow .artistShowTitle {
		margin-left: 0;
	}
	#todayShow .artistShowTitle h2 {
		font-size: 18px;
	}

	/* 오늘의 공연 슬라이드 왼쪽,오른쪽 버튼*/
	#todayShow .artistShowLeftBtn, #todayShow .artistShowRightBtn {
		width: 5%;
		height: 120px;
	}
	#todayShow .artistShowLeftBtn span, #todayShow .artistShowRightBtn span
		{
		width: 25px;
		height: 25px;
	}
	/* 오늘의 공연 슬라이드 리스트 아티스트 소개글*/
	.todayShowInfo h1 {
		font-size: 18px;
	}
	.todayShowInfo h2 {
		font-size: 16px;
		margin-top: 0;
	}

	/* 메인페이지 - 추천아티스트타이틀 */
	#artisStandardt .artistRecommendationTltle {
		margin-left: 0;
	}
	#artisStandardt .artistRecommendationTltle h2 {
		font-size: 18px;
	}
	/* 추천아티스트 슬라이드 */
	#artisStandardt .artistRecommendation {
		height: 100px;
	}
	/* 추천아티스트 슬라이드 왼쪽,오른쪽 버튼 */
	#artisStandardt .artistRecommendationLeftBtn, #artisStandardt .artistRecommendationRightBtn
		{
		height: 100px;
	}
	#artisStandardt .artistRecommendationLeftBtn span, #artisStandardt .artistRecommendationRightBtn span
		{
		width: 25px;
		height: 25px;
	}
	/* 추천아티스트 */
	#artisStandardt .artistRecommendation .artistRecommendationList ul li {
		width: 29%;
		margin-right: 15px;
	}
	#artisStandardt .artistRecommendation .artistRecommendationList ul li span
		{
		font-size: 10px;
	}
	/*********************************************** 이벤트 ***********************************************/

	/* 이벤트타이틀*/
	#eventListTitle {
		margin-left: 0;
	}
	/*이벤트리스트 개개인*/
	.eventList {
		width:350px;
		height: 70px;
		float:left;
		margin:30px auto;
		word-break: break-all;
	}
	.eventList img {
		width: 100%;
		height: 70px;
	}
	/*이벤트리스트 이벤트등록버튼*/
	.event a {
		margin-right: 0;
		font-size: 12px;
	}

	/*********************************************** 이벤트 상세보기 ***********************************************/
	/*이벤트상세보기 타이틀*/
	#eventDetailTitle {
		width: 100%;
		float: left;
		margin-left: 0;
		text-align: center;
		box-shadow: inherit;
		position: relative;
		    margin-bottom: 30px;
	}
	#eventDetailTitle::before {
		content: "";
		width: 28%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: 4%;
	}
	/*이벤트 제목*/
	#eventName {
		font-size: 32px;
	}
	/*이벤트 상세보기 이미지*/
	.eventContent img {
		width: 100%;
	}

	/*********************************************** 아티스트 리스트 ***********************************************/
	/* 아티스트 리스트 - 타이틀 */
	#artistTitle {
		width: 100%;
		text-align: center;
		float: left;
		margin-left: 0;
		box-shadow: inherit;
		position: relative;
	}
	#artistTitle::before {
		content: "";
		width: 41%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: 4%;
	}

	/* 아티스트 리스트 - 최상위 */
	#artist {
		width: 100%;
		margin-left: 0;
	}
	/* 아티스트 리스트 개개인 아티스트 */
	.artistList {
		width: 100%;
	}
	.artistList img {
		width: 100%;
		height: 330px;
	}
	.artistList a {
		width: 100%;
	}
	/*********************************************** 아티스트 상세보기 ***********************************************/
	/*아티스트상세 타이틀*/
	#artistDetailTitle {
		width: 100%;
		text-align: center;
		float: left;
		margin-left: 0;
		margin-bottom: 30px;
		box-shadow: inherit;
		position: relative;
	}
	#artistDetailTitle::before {
		content: "";
		width: 31%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: 4%;
	}
	/*아티스트 프로필 이미지*/
	.artistProfileImg img {
		width: 100%;
		height: inherit;
	}
	/*아티스트프로필 소개글*/
	.artistProfile {
		margin-left: 0;
		position: relative;
	}
	/*아티스트프로필 닉네임*/
	.artistProfile #artistName {
		width: 100%;
		float: left;
		text-align: center;
	}
	/*아티스트프로필 팔로우버튼*/
	.artistProfile #follow {
		position: absolute;
		top: -10px;
		right: 15px;
	}
	/*아티스트프로필 온도텍스트*/
	#memberCountCon {
		position: absolute;
		top: 0;
	}
	.artistProfile input[value=공연일정보기] {
		width: 100%;
	}
	
	/* 아티스트 상세보기 폰트 */
	.artistProfile{
	font-size: small;
    text-align: left;
	}
	/*********************************************** 아티스트 일정(달력)  ***********************************************/

	/*아티스트상세 달력*/
	#calendar {
		width: 400px
	}
	/*아티스트상세 달력타이틀*/
	#calendar .calendarTitle {
		height: 40px;
	}
	#calendar .calendarTitle h1 {
		line-height: 40px;
		font-size: 24px;
	}
	/*아티스트상세 달력취소버튼*/
	#calendar .calendarTitle svg {
		margin: 5px;
	}
	/*fullcalendar 타이틀*/
	.fc-toolbar-title {
		font-size: 18px !important;
	}
	/*fullcalendar 버튼*/
	#calendar #artistCalendar button {
		width: 55px;
		height: 25px;
		font-size: 12px;
		padding-top: 0;
		padding-bottom: 0;
	}
	/*********************************************** 공연등록 ***********************************************/
	#frm{
		width:93%;
	}
	/* 공연등록 공연제목 폼  */
	#showTitle {
	width: 100%;
	}
	/* 공연등록,수정 공여내용 폼 안에 사진등록 */
	.mutiPhotoUpload{
	width: 100%;
	border-right: solid 1px #b5b5b5;
	}
	/* 공연등록 날짜 */
	#showRegisterShowDate{
	width: 100% 
	}
	/* 공연 수정 제목 */
	#postTitle{
	width: 100%;
	}
	/* 공연 수정 날짜 */
	#showUpdateShowDate{
	width: 100%
	}
	/*********************************************** 공연 리스트 ***********************************************/
	/* 공연리스트 -  타이틀 */
	#showListTitle {
		width: 100%;
		text-align: center;
		float: left;
		margin-left: 0;
		margin-bottom: 30px;
		box-shadow: inherit;
		position: relative;
	}
	#showListTitle::before {
		content: "";
		width: 27%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: 4%;
	}

	/* 공연리스트 - 버튼 */
	#showListRegisterBtn input[type=submit] {
		margin-bottom: 15px;
	}
	
	 /* 공연제목 크기조절 */ 
	#showListTitleTd {
		display: inline-block;
		width: 161px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	/* 공연리스트에서 제목 ... 처리 */
	#showListNickNameTd {
		display: block;
		width: 62px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	/***********************************************공연상세보기***********************************************/
	
	/* 공연상세보기 공연내용 */
	#showDetailContentSide {
		margin-left: 60px;
		width: 76%;
	    word-break: break-all;
	    height: inherit;
	}
	/* 공연상세보기 댓글 */
	#showDetailCommentSide{
		margin-left: 60px; width: 76%;
		    height: inherit;
	}
	/* 공연리스트 상세보기 수정삭제 버튼 */
	#showDetailUpdateDeleteDiv{
	margin-bottom: 15px;
	}
	/* 공연상세보기 댓글 */
	#showDetailCommentSide {
	width: 76%;
    margin-left: 60px;
	}
	/*********************************************** 페이징 ***********************************************/
	/* 페이징 */
	.pagingInfo {
		width: 100%;
		float: left;
	}
	.pagination {
		margin-top: 0;
	}
	/*********************************************** 공지사항 ***********************************************/
	/* 공지사항 - 타이틀 */
	#logoNotice {
		width: 100%;
		text-align: center;
		float: left;
		margin-left: 0;
		margin-bottom: 30px;
		box-shadow: inherit;
		position: relative;
	}
	#logoNotice::before {
		content: "";
		width: 15%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: 4%;
	}

	/* 공지사항 - 테이블 */
	#noticeList {
		width: 390px;
	}

	/* 공지사항 - 버튼 */
	#noticeButton_1 input[type='submit'] {
		right: 0;
		margin-left: 20px;
		margin-right: 10px;
	}
	#noticeButton_2 {
		right: 0;
	}
	/*공지사항 상세 제목*/
	#noticeTitle{
		font-size:24px;
	}
	
	/***********************************************관리자 페이지***********************************************/

	/*관리자페이지 타이틀*/
	#manageFormTitle {
		width: 100%;
		text-align: center;
		float: left;
		margin-left: 0;
		margin-bottom: 30px;
		box-shadow: inherit;
		position: relative;
	}
	#manageFormTitle::before {
		content: "";
		width: 15%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: 4%;
	}
	/*관리자페이지 선택버튼*/
	#manageFormBtn {
		width: 100%;
		margin-bottom: 5px;
	}

	/***********************************************회원가입[관객,아티스트] 선택***********************************************/
	/*회원가입 타이틀*/
	#choiceRegister .choiceTitle h1::before {
		width: 16%;
	}

	/*회원가입[관객,아티스트]선택 */
	#choiceRegister section {
		width: 100%;
	}
	#choiceRegister section ul {
		width: 167px;
	}
	#choiceRegister section ul:nth-child(2) {
		margin-right: 0;
	}
	#choiceRegister section ul li:nth-child(1) {
		height: 167px;
	}
	#choiceRegister section ul li h3 {
		padding: 0;
		font-size: 16px;
	}
	/*********************************************** 회원가입 + 회원수정 ***********************************************/

	/*회원가입,회원수정 폼*/
	#registerForm, #updateForm {
		width: 100%;
	}
	#registerForm table tr td, #updateForm table tr td {
		width: inherit;
	}
	#registerForm table tr td span, #updateForm table tr td span {
		font-size: 10px;
	}
	#registerForm table tr th, #updateForm table tr th {
		width: 100px;
	}
	#registerForm table tr td #registerId, #registerForm table tr td #registerAddress,
		#registerForm table tr td input[name=phone], #registerForm table tr td input[name=nickName],
		#updateForm table tr td #registerId, #updateForm table tr td #registerAddress,
		#updateForm table tr td input[name=phone], #updateForm table tr td input[name=nickName],
		#registerForm table tr td input[name=password]{
			width:42%;
		}
	#registerForm input::placeholder{
		font-size:10px;
	}
	/***********************************************회원가입완료***********************************************/
	#registerResult{
		width:100%;
	}
	/***********************************************비밀번호수정***********************************************/
	#passwordUpdate{
		width:90%;
	}
	/***********************************************네이버에디터***********************************************/
	/*네이버에디터 대신 버튼*/
	.mutiPhotoUpload #mutiPhotoUploadBtn{
		right:0;
	}
	/***********************************************이벤트 등록***********************************************/
	/* 이벤트 등록 폼 */
	#addEvent{
	width:100%;
	margin-left: 0px
	}
	/* 이벤트 등록 안에 제목 */
	#addEvent input[type=text] {
    width: 100%;
    font-size: medium;
    border: 1px solid #000000;
    height: 30px;
	}
	/* 이벤트 등록 안에 이벤트 배너 사진 등록 */
	#addEvent input[type=file] {
	float: none;
    border: 1px solid #000000;
    margin-right: 300px;
    width: 67%;
	}
	
	/***********************************************공지사항***********************************************/
	/* 공지사항 타이틀 */
	#register::before {
	   width:36%;
	}
	/* 공연상세보기 댓글 */
	#showDetailCommentSide {
	width: 76%;
    margin-left: 60px;
	}
	/* 공지사항 타이틀 */
	#logoNoticeUpdate::before{
		width:36%;
	}
	#noticeListNickNameTd{
	display: revert;
    width: 62px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
	#noticeListTitleTd1{
	display: inline-block;
		width: 170px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#noticeListTitleTd2{
	display: inline-block;
		width: 146px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#noticeListDateTd{
		width: 93px;
	}
	/***********************************************마이페이지***********************************************/
	/*마이페이지*/
	#mypage{
		float:inherit;
	}
	/*마이페이지 타이틀*/
	#mypageTitle {
		width: 100%;
		text-align: center;
		float: left;
		margin-left: 0;
		margin-top:30px;
		margin-bottom: 30px;
		box-shadow: inherit;
		position: relative;
		font-size:26px;
	}
	#mypageTitle::before {
		content: "";
		width: 36%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: -5%;
	}
	/***********************************************회원탈퇴***********************************************/
	/*회원탈퇴 타이틀*/
	.font_ctb {
		width: 100%;
		text-align: center;
		float: left;
		margin-left:0 !important;
		margin-top:30px;
		margin-bottom: 30px;
		box-shadow: inherit;
		position: relative;
		font-size:26px;
		margin-top:235px;
	}
	.font_ctb::before {
		content: "";
		width: 18%;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #d03535;
		bottom: -10%;
	}
	
	.remove-member{
		width:100%;
		margin-top:150px;
	}
	.remove-member table tr td{
		width:50%;
		float:left;
	}
	.remove-member table tr td input{
		width:100%;
	}
	/*************************************************지윤이 아티스트 마이페이지************************************************************/
	/*마이페이지 프로필 이미지*/
	#mypage .mypageImage{
		width:100%;
		float:inherit; 
	}
	
	#mypage .mypageImage img {
    width: 70%;
    float: inherit;
    margin-left: 60px;
    margin-bottom: 30px;
}
	#mypage .mypageContent {
    width: 100%;
    float: left;
    font-size: large;
        word-break: break-all;
            margin-bottom: 30px;
                margin-top: 23px;
}
	#btngroup {
	display: none;
	}
	
	#mypage .removeMediaBtn {
	display: block;
    float: left;
	}
	#mypage .removeMediaBtn #removeMediaBtn {
		padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 50px;
	}
	#mypage .updateMediaBtn {
	display: block;
	    float: left;
	}
	#mypage .updateMediaBtn #updateMediaBtn{
	padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 10px;
	}
	#mypage .eventListMediaBtn {
	display: block;
	    float: left;
	}
	#mypage .eventListMediaBtn #eventListMediaBtn{
	padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 70px;
	}
	#mypage .followListMediaBtn {
	display: block;
	}
	#mypage .followListMediaBtn #followListMediaBtn {
	padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 10px;
	}
	#mypage .passUpdateMediaBtn {
	display: block;
	}
	#mypage .passUpdateMediaBtn #passUpdateMediaBtn {
	padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 10px;
	}
	
	/************************************************지윤 회원 마이페이지****************************************************/
	#mypage .removeMemberMediaBtn {
	display: block;
    float: left;
        margin-top: 20px;
	}
	#mypage .removeMemberMediaBtn #removeMemberMediaBtn {
		padding: 10px 16px 10px 16px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 10px;
	}
	#mypage .updateMemberMediaBtn {
	display: block;
	    float: left;
	}
	#mypage .updateMemberMediaBtn #updateMemberMediaBtn{
	padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 90px;
	}
	#mypage .followListMemberMediaBtn {
	display: block;
	    float: left;
	        margin-top: 20px;
	}
	#mypage .followListMemberMediaBtn #followListMemberMediaBtn{
	padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 90px;
	}
	#mypage .passUpdateMemberMediaBtn {
	display: block;
	}
	#mypage .passUpdateMemberMediaBtn #passUpdateMemberMediaBtn {
	padding: 10px 10px 10px 10px;
		background-color: #d03535;
		border: 1px solid #d03535;
		color: white;
		font-size: small;
		margin-left: 10px;
	}
	 #mypage .mypageImage{
	max-height: none;
	}  
		/************************************************지윤 footer****************************************************/
		#footer {
			font-size: x-small; 
		}
		#footer img {
			    width: 29px;
    margin-right: 13px;
		}
		/************************************************지윤 main 화살표 안보이기****************************************************/
		#mainVideo .mainMoveControl span svg {
   display: none;
}
	/************************************************지윤 공지사항 상세보기****************************************************/
#noticeDetailContentSide {
    width: 100%;
    word-break: break-all;
    height: inherit;
}
#eventCheckTitle h2 {
    border-bottom: 4px solid #d03535;
    width: 54%;
    margin-left: 81px;
    margin-bottom: 19px;
}
	/************************************************지윤 팔로우 리스트 제목****************************************************/
#followListTitle {
	    margin-left: 112px;
}
/************************************************지윤 이벤트 승인 현황****************************************************/
#checkEventTitle {
	display: inline-block;
	width: 117px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#eventTitle {
	display: inline-block;
	width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
}