@charset "UTF-8";

/* 외부폰트 스타일 */
@font-face {
	font-family: 'JSDongkang-Regular';
	src: url('../font/JSDongkang-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MaplestoryOTF';
	src: url('../font/MAPLESTORY LIGHT.TTF');
	font-weight: normal;
	font-style: normal;
}
/* 전체 스타일 적용 */
* {
	padding: 0;
	list-style: none;
}

/* 외부폰트 패스워드 깨짐 방지용 폰트설정 */
input[type=password] {
	font-family: "맑은고딕";
}
/* input 패스워드 placeholder 외부폰트로 적용 */
input[type=password]::placeholder {
	font-family: JSDongkang-Regular;
}

/* a {
   background-color: #d03535;
   border-color: #d03535;
   color: white;
   border-radius: 5px;
   border: 2px solid #d03535;
}

input[type=button] {
   background-color: #d03535;
   border-color: #d03535;
   color: white;
   border-radius: 5px;
   border: 2px solid #d03535;
}

input[type=submit] {
   background-color: #d03535;
   border-color: #d03535;
   color: white;
   border-radius: 5px;
   border: 2px solid #d03535;
} */

/* layout.jsp 영역 */
#main {
	width: 100%;
	float: left;
	position: relative;
	min-height: 78vh;
	padding: 0;
	font-family: JSDongkang-Regular;
}

/***********************************************상단 Header************************************************/

/* header 로고 + 검색 - 최상위 */
#header {
	width: 100%;
	height: 80px;
	z-index: 3;
	background-color: #d03535;
	color: white;
	font-family: MaplestoryOTF !important;;
}

/* 로고[bitLog] */
#header .bitLog {
	width: 15%;
	height: 100%;
	float: left;
}

#header .bitLog a {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}

#header .bitLog a img {
	width: 95%;
	float: left;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	margin-top: 7px;
}

/* 메뉴 + 검색 + 로그아웃,마이페이지,관리자 버튼 */
#header .navigation {
	width: 85%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}

/* 메뉴[nav] */
#header .navigation nav {
	width: 55%;
	float: left;
}

#header .navigation nav ul {
	width: 100%;
	height: 80px;
	margin: 0;
}

#header .navigation  nav ul li {
	width: 25%;
	height: 100%;
	line-height: 80px;
	float: left;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 22px;
}

#header .navigation  nav ul li::before {
	content: "";
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	left: -100%;
	top: 0;
	background-color: #d03535;
	z-index: -2;
	transition: 0.4s;
}

#header .navigation  nav ul li:hover::before {
	left: 0;
}

#header .navigation ul li a {
	text-decoration: none;
	color: inherit;
}

/* 로그아웃,마이페이지,관리자 버튼 + 검색 */
#header .navigation .loginbar {
	width: 45%;
	height: 100%;
	float: left;
	text-align: center;
	color: white;
}

#header .navigation .loginbar span {
	cursor: pointer;
}

/* 로그아웃,마이페이지,관리자 버튼[bitLogin] */
#header .navigation .loginbar .bitLogin {
	width: 50%;
	line-height: 80px;
	float: right
}

#header .navigation .loginbar .bitLogin a {
	color: #fff;
	font-size: 22px;
	margin-left: 15px;
	text-decoration: none;
}

/* 검색[bitMainSearch] */
#header .bitMainSearch {
	width: 47%;
	height: 100%;
	float: right;
	margin-right: 15px;
	position: relative;
	overflow: hidden;
}

#header .bitMainSearch #asd {
	width: 30px;
	height: 80px;
	float: right;
	cursor: pointer;
}

#header .bitMainSearch form {
	width: 100%;
	position: absolute;
	top: 25%;
	left: 100%;
}

#header .bitMainSearch form input {
	position: absolute;
	left: 0;
	border: 1px solid #e5e5e5;
	outline: none;
}

#header .bitMainSearch form select {
	position: absolute;
	width: 20%;
	height: 40px;
	border: 1px solid #e5e5e5;
	right: 0;
	background-color: #d03535;
}

#header .bitMainSearch form input[type=text] {
	left: 100px;
	width: 54%;;
	height: 40px;
	padding: 15px;
	border-left: none;
	background-color: #d03535;
}

#header .bitMainSearch form input[type=submit] {
	width: 100px;
	height: 40px;
	background-color: #d03535;
}
/*모바일검색*/
#header .navigation .mobileSearch{
	width:100%;
	height:100%;
	right:-100%;
	position: absolute;
	background-color:#fff;
}
#header .navigation .mobileSearch #mobileSearchForm{
	height: 100%;
	font-size:11px;
}
#header .navigation .mobileSearch #mobileSearchForm input[type=text]{
	width:50%;
	height:100%;
	float:left;
	border:none;
	color:#000;
	padding:15px;
	font-size:11px;
}
#header .navigation .mobileSearch #mobileSearchForm select{
	width:20%;
	height:100%;
	float:left;
	border:none;
	color:#000;
}
#header .navigation .mobileSearch #mobileSearchForm input[type=submit]{
	width:20%;
	height:100%;
	float:left;
	border:none;
	background-color:#d03535;
}
#header .navigation .mobileSearch #mobileSearchForm svg{
	width:10%;
	height:100%;
	cursor:pointer;
	color:#000;
	
}
/***********************************************하단 footer***********************************************/
/*footer - 최상위*/
#footer {
	width: 100%;
	float: left;
	border-top: 1px solid white;
	padding: 25px;
	height: 150px;
	background-color: #FAFAFA;
	text-align: center;
	font-family: JSDongkang-Regular;
}

#footer img {
	width: 50px;
	margin-right: 20px;
}

/*페이징*/
.pagingInfo {
	text-align: center;
}

.pagingInfo .pagination .active a {
	background-color: #d03535;
	border: 1px solid #d03535;
	border-radius: 5px;
	color: #fff;
}

.pagination {
	text-align: center;
	margin-top: 100px;
}

.pagination>li a {
	float: left;
	border: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	color: #000;
}

.showMain {
	float: inherit;
}

/***********************************************메인[index.jsp]***********************************************/
/* 메인페이지 -  비디오 - 최상위 */
#mainVideo {
	width: 100%;
	height: 93vh;
	float: left;
	position: relative;
	overflow: hidden;
}

#mainVideo::before {
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("../../resources/img/pattern.png");
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#mainVideo video {
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

/*메인페이지 - 비디오 안(로그인 하기 전) 로그인*/
#mainVideo .mainVideoLoginForm {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

#mainVideo .mainVideoLoginForm span {
	width: 250px;
	height: 50px;
	line-height: 50px;
	float: left;
	margin-right: 20px;
	color: #fff;
	background-color: #d03535;
	border: 2px solid #d03535;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

#mainVideo .mainVideoLoginForm span::before {
	content: "";
	width: 100%;
	height: 100%;
}

/*메인페이지 - 비디오 안(로그인 후) 환영글 */
#mainVideo .mainContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 4;
	text-align: center;
}

#mainVideo .mainContent h1 {
	font-size: 64px;
}

#mainVideo .mainContent h3 {
	font-size: 44px;
}
/*메인페이지 - 비디오 안(로그인 후) 아래 화살표*/
#mainVideo .mainMoveControl span {
	position: absolute;
	left: 50%;
	bottom: 7%;
	transform: translate(-50%, 0);
	z-index: 4;
	color: #fff;
}

#mainVideo .mainMoveControl span svg {
	width: 65px;
	height: 65px;
	cursor: pointer;
	transition: 0.4s;
}

#mainVideo .mainMoveControl span svg:hover {
	color: #d03535;
}

/* 메인페이지 - 오늘의 공연 - 최상위 */
#todayShow {
	width: 100%;
	float: left;
}

/* 오늘의 공연 타이틀 */
#todayShow .artistShowTitle {
	margin-left: 45px;
}

#todayShow .artistShowTitle h2 {
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

#todayShow .artistShowTitle h2::before {
	content: "";
	width: 90%;
	height: 1px;
	float: left;
	background-color: #e5e5e5;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	z-index: -1;
}

#todayShow .artistShowTitle h2::after {
	content: "";
	width: 20%;
	height: 5px;
	float: left;
	background-color: #eb4034;
	position: absolute;
	left: 50%;
	top: -2%;
	transform: translate(-50%, 0);
	z-index: -1;
}

/* 오늘의 공연 슬라이드 오른쪽 버튼*/
#todayShow .artistShowRightBtn span {
	left: -15px;
}

/* 오늘의 공욘 슬라이드 왼쪽 버튼*/
#todayShow .artistShowLeftBtn span {
	right: -15px;;
}

#todayShow .artistShowLeftBtn, #todayShow .artistShowRightBtn {
	width: 10%;
	height: 300px;
	float: left;
	position: relative;
}

#todayShow .artistShowLeftBtn span, #todayShow .artistShowRightBtn span
	{
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin-top: 0;
	cursor: pointer;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border-radius: 100%;
	z-index: 2;
	box-shadow: 0px 1px 13px 1px #e5e5e5;
}

#todayShow .artistShowLeftBtn span svg, #todayShow .artistShowRightBtn span svg
	{
	width: 60%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* 오늘의 공연 슬라이드 */
#todayShow .artistShow {
	width: 80%;
	height: 300px;
	float: left;
	background-size: 100%;
	background-image: url("../../resources/img/todayShowbg.png");
	background-position: center center;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}

#todayShow .artistShow::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.4;
}

/* 오늘의 공연 슬라이드 리스트*/
#todayShow .artistShow .artistShowList {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#todayShow .artistShow .artistShowList li {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
	z-index: 2;
	color: #fff;
}

#todayShow .artistShow .artistShowList li:nth-child(1) {
	left: 0;
}

#todayShow .artistShow .artistShowList li a {
	width: 100%;
	height: 100%;
	float: left;
	color: #fff;
	text-decoration: none;
}

/* 오늘의 공연 슬라이드 리스트 아티스트 소개글*/
#todayShow .artistShow .artistShowList li .todayShowInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* 메인페이지 - 추천아티스트 - 최상위 */
#artisStandardt {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

/* 메인페이지 - 추천아티스트 타이틀 */
#artisStandardt .artistRecommendationTltle {
	margin-left: 45px;
}

#artisStandardt .artistRecommendationTltle h2 {
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

#artisStandardt .artistRecommendationTltle h2::before {
	content: "";
	width: 90%;
	height: 1px;
	float: left;
	background-color: #e5e5e5;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	z-index: -1;
}

#artisStandardt .artistRecommendationTltle h2::after {
	content: "";
	width: 20%;
	height: 5px;
	float: left;
	background-color: #eb4034;
	position: absolute;
	left: 50%;
	top: -2%;
	transform: translate(-50%, 0);
	z-index: -1;
}

#artisStandardt .artistRecommendationLeftBtn, #artisStandardt .artistRecommendationRightBtn
	{
	width: 10%;
	height: 300px;
	float: left;
	position: relative;
}
/* 추천아티스트 슬라이드 오른쪽 버튼 */
#artisStandardt .artistRecommendationRightBtn span {
	left: -15px;
}
/* 추천아티스트 슬라이드 왼쪽 버튼 */
#artisStandardt .artistRecommendationLeftBtn span {
	right: -15px;;
}

#artisStandardt .artistRecommendationLeftBtn span, #artisStandardt .artistRecommendationRightBtn span
	{
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin-top: 0;
	cursor: pointer;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border-radius: 100%;
	z-index: 2;
	box-shadow: 0px 1px 13px 1px #e5e5e5;
}

#artisStandardt .artistRecommendationLeftBtn span svg, #artisStandardt .artistRecommendationRightBtn span svg
	{
	width: 60%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* 추천아티스트 슬라이드 */
#artisStandardt .artistRecommendation {
	width: 80%;
	height: 300px;
	float: left;
	position: relative;
	overflow: hidden;
	text-align: center;
}

#artisStandardt .artistRecommendation h1{
	line-height: 300px;
	position: relative;
	color:#fff;
}
#artisStandardt .artistRecommendation h1::before{
	content:"";
	width:100%;
	height: 100%;
	left:0;
	opacity:0.7;
	position: absolute;
	background-color:#000;
	z-index:-1;
}

/* 추천아티스트 슬라이드 리스트 */
#artisStandardt .artistRecommendation .artistRecommendationList {
	position: absolute;
	left: 100%;
}

#artisStandardt .artistRecommendation .artistRecommendationList:nth-child(1)
	{
	left: 0;
}

#artisStandardt .artistRecommendation .artistRecommendationList,
	#artisStandardt .artistRecommendation .artistRecommendationList ul {
	width: 100%;
	height: 100%;
	float: left;
}
/* 추천아티스트 */
#artisStandardt .artistRecommendation .artistRecommendationList ul li {
	width: 30.045%;
	height: 100%;
	float: left;
	margin-right: 45px;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul li:nth-child(3)
	{
	margin-right: 0;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul li img
	{
	width: 100%;
	height: 100%;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul li span
	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

/* 추천아티스트 배경[검은화면] */
#artisStandardt .artistRecommendation .artistRecommendationList ul li a::before
	{
	content: "";
	position: absolute;
	bottom: 0;
	background-color: #000;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}

/***********************************************로그인***********************************************/

/* 로그인 - 최상위 */
#login {
	width: 700px;
	height: 400px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	display: none;
	z-index: 10;
	opacity: 0;
}
/*로그인 검은배경*/
#loginBlind {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	z-index: 5;
	opacity: 0;
	display: none;
}
/*로그인타이틀*/
#login .loginTitle {
	height: 20%;
	text-align: center;
	background-color: #d03535;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

#login .loginTitle h3 {
	margin: 0;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
}
/*로그인타이틀 닫기*/
#login .loginTitle svg {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	cursor: pointer;
	color: #fff;
}
/*로그인 아이디 + 비밀번호 + 로그인 버튼*/
#login .loginMain {
	width: 100%;
	height: 80%;
	float: left;
	position: relative;
}
/* 로그인 폼 */
#login .loginMain .loginForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login .loginMain .loginForm input {
	width: 300px;
	float: right;
	height: 50px;
	border: 1px solid #e5e5e5;
	padding: 10px;
}

#login .loginMain .loginForm input[type=submit] {
	width: 350px;
	background-color: #d03535;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	border: 2px solid #d03535;
	border-radius: 5px;
}

#login .loginMain .loginForm svg {
	border: 1px solid #e5e5e5;
	position: absolute;
	background-color: #fff;
	padding: 10px;
}

/* 아이디,패스워드 힌트(placeholder 대리) */
#login .loginMain .loginForm .login-label-group {
	width: 350px;
	height: 50px;
	position: relative;
	margin-bottom: 15px;
}

#login .loginMain .loginForm .login-label-group label {
	position: absolute;
	top: 0;
	left: 45px;
	display: block;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
	padding: 1.4rem;
}

#login .loginMain .loginForm .login-label-group input::placeholder {
	color: transparent;
}

#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown)
	{
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}

#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown)
   ~ label {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

/*********************************************** 회원가입 + 회원수정 ***********************************************/

/*회원가입 최상위 - registerMember */

/*회원가입,회원수정타이틀*/
#registerTitle {
	text-align: center;
	margin-top: 30px;
}

#registerTitle h1 {
	position: relative;
	font-weight: bold;
}

#registerTitle h1::before {
	content: "";
	width: 7%;
	height: 2px;
	background-color: #d03535;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0);
}
/*회원가입,회원수정폼*/
#registerForm, #updateForm {
	width: 600px;
	margin: 0 auto;
	margin-top: 25px;
}

#registerForm input[type=submit], #updateForm input[type=submit] {
	width: 100%;
	height: 50px;
	border: none;
	background-color: #d03535;
	border: 2px solid #d03535;
	border-radius: 5px;
	color: #fff;
	float: left;
	margin-bottom: 15px;
}

#registerForm table tr th, #updateForm table tr th {
	width: 150px;
	text-align: center;
	background-color: #d03535;
	color: #fff
}

#registerForm table tr td, #updateForm table tr td {
	width: 450px;
}

#registerForm table tr td, #registerForm table tr th, #updateForm table tr td,
	#updateForm table tr th {
	border: 1px solid #e5e5e5;
}

#registerForm table tr td input, #updateForm table tr td input {
	width: 100%;
	border: none;
	padding: 10px;
	outline-color: #d03535;
}

#registerForm table tr td textarea, #updateForm table tr td textarea {
	width: 100%;
	height: 200px;
	padding: 15px;
	float: left;
}

#registerForm table tr td #registerId, #registerForm table tr td #registerAddress,
	#registerForm table tr td input[name=phone], #registerForm table tr td input[name=nickName],
	#updateForm table tr td #registerId, #updateForm table tr td #registerAddress,
	#updateForm table tr td input[name=phone], #updateForm table tr td input[name=nickName],
	#registerForm table tr td input[name=password] {
	width: 50%;
	float: left;
}

#registerForm table tr td span, #updateForm table tr td span {
	line-height: 40px;
}

#registerForm table tr td button, #updateForm table tr td button {
	width: 50%;
	height: 41px;
	border: none;
	background-color: #d03535;
	color: #fff;
}

/*회원가입,회원수정 사진 미리보기*/
#registerForm .defaultprofile, #updateForm .defaultprofile {
	width: 100%;
	float: left;
	height: 100px;
	overflow: hidden;
	position: relative;
}

#registerForm .defaultprofile img, #updateForm .defaultprofile img {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*********************************************** 회원가입[관객,아티스트] 선택 ***********************************************/

/*회원가입[관객,아티스트]선택-최상위*/
#choiceRegister {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
}
/*회원가입[관객,아티스트]선택 타이틀*/
#choiceRegister .choiceTitle {
	margin-top: 120px;
}

#choiceRegister .choiceTitle h1 {
	position: relative;
	font-weight: bold;
}

#choiceRegister .choiceTitle h1::before {
	content: "";
	width: 7%;
	height: 2px;
	background-color: #d03535;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0);
}

/*회원가입[관객,아티스트]선택 */
#choiceRegister section {
	width: 650px;
	margin: 0 auto;
	margin-top: 100px;
}

#choiceRegister ul {
	width: 300px;
	float: left;
	list-style: none;
	margin-right: 25px;
}

#choiceRegister ul li:nth-child(1) {
	width: 100%;
	height: 280px;
	border: 1px solid #e5e5e5;
	border-radius: 15px;
	position: relative;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	/*box-shadow: 2px 2px 2px 2px #000;*/
	overflow: hidden;
}

#choiceRegister ul li img {
	width: 100%;
	float: left;
}

#choiceRegister ul li span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	font-weight: bold;
}

#choiceRegister ul li h3 {
	width: 100%;
	padding: 15px;
	background-color: #d03535;
	border: 2px solid #d03535;
	border-radius: 5px;
	margin-top: 0;
	color: #fff;
}

#choiceRegister ul li>a {
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	float: left;
}

#choiceRegister ul li h3 a {
	color: inherit;
	text-decoration: none;
}

/*********************************************** 약관 동의서 ***********************************************/

/*약관 동의서 - 최상위 */
#checkDocument {
	margin-top: 120px;
	text-align: center;
}

/*약관 동의서 타이틀*/
#checkDocument .checkDocumentTitle h1 {
	position: relative;
	font-weight: bold;
}

#checkDocument .checkDocumentTitle h1::before {
	content: "";
	width: 7%;
	height: 2px;
	float: left;
	background-color: #d03535;
	position: absolute;
	left: 50%;
	bottom: -13%;
	transform: translate(-50%, 0);
	z-index: -1;
}
/*약관 동의서 부 타이틀*/
#checkDocument .checkDocumentSubTitle {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}

#checkDocument .checkDocumentSubTitle span {
	float: left;
	font-size: 17px;
	font-weight: bold;
}

/*약관 동의서 내용*/
#checkDocument .checkDocumentContent {
	margin-bottom: 15px;
}

#checkDocument .checkDocumentContent pre {
	height: 400px;
}

/*약관 동의서 버튼*/
#checkDocument .checkDocumentBtn {
	margin-top: 15px;
}

#checkDocument .checkDocumentBtn input {
	width: 150px;
	height: 40px;
	background-color: #d03535;
	border: none;
	margin-right: 15px;
	color: #fff;
	border: 2px solid #d03535;
	border-radius: 5px;
}

/*********************************************** 회원가입 성공 ***********************************************/

/* 회원가입 성공 - 최상위 */
#registerResult {
	width: 500px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#registerResult h1 {
	margin-bottom: 15px;
}

#registerResult h4 {
	font-weight: bold;
	color: #ff0000;
}

#registerResult a {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	float: left;
	border: 1px solid #e5e5e5;
	background-color: #d03535;
	color: #fff;
	text-decoration: none;
}

#registerResult img {
	width: 100%;
}

/*********************************************** 아티스트 리스트 ***********************************************/

/* 아티스트리스트 타이틀 */
#artistTitle {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0 -6px #d03535 inset;
	margin-left: 730px;
}

/* 아티스트 리스트 - 최상위 */
#artist {
	width: 100%;
	float: left;
	margin-left: 150px;
}

/* 아티스트 리스트 개개인 아티스트 */
.artistList {
	float: left;
	width: 500px;
	margin-bottom: 40px;
}

.artistList img {
	margin-top: 50px;
	border: 2px solid #d03535;
	border-radius: 5px;
	width: 300px;
	height: 300px;
}

.artistList a {
	padding: 5px 5px;
	width: 60%;
	display: inline-block;
	text-align: center;
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
	color: white;
}

/*********************************************** 아티스트 상세보기***********************************************/

/* 아티스트상세보기 타이틀 */
#artistDetailTitle {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0 -6px #d03535 inset;
	margin-left: 927px;
}
/* 아티스트상세보기 프로필 이미지*/
.artistProfileImg img {
	float: left;
	width: 450px;
	height: 450px;
	margin-top: 50px;
}
/* 아티스트상세보기 아티스트 정보*/
.artistProfile {
	font-size: medium;
	margin-left: 150px;
	text-align: left;
	margin-top: 50px;
	word-break: break-all;
}

/* 아티스트상세보기 공식계정,후원계좌 아이콘이미지*/
.artistProfile img {
	width: 5%;
	height: 5%;
}

.artistProfile input[type=button] {
	color: white;
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
}

/* 아티스트상세보기 아티스트닉네임 */
.artistProfile #artistName {
	font-size: x-large;
	font-weight: bold;
	float: left;
}

/* 아티스트상세보기 아티스트팔로우 버튼 */
.artistProfile #follow {
	padding: 5px 10px 5px 10px;
	display: inline-block;
	float: right;
}

/*********************************************** 이벤트 리스트***********************************************/
/*이벤트리스트 타이틀*/
.eventDetailTitle {
	margin-top: 50px;
}

#eventListTitle {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0 -6px #d03535 inset;
	margin-left: 500px;
}

/*이벤트리스트 개개인*/
.eventList {
	width: 800px;
	height: 150px;
	margin: 80px auto;
	position: relative;
	text-align: center;
}

/*이벤트리스트 컨테이너2*/
.con {
	margin-top: 30px;
}

/*이벤트리스트 이벤트등록버튼*/
.event a {
	float: right;
	margin-right: 170px;
	font-size: 18px;
	color: white;
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
	padding: 5px 10px 5px 10px;
}

.eventList img {
	width: 800px;
	height: 150px;
}
/*이벤트리스트 지난이벤트 횐색배경*/
#frontText {
	background-color: #9999;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	float: left;
	transform: translate(-50%, -50%);
}

/*이벤트리스트 이벤트제목*/
#eventTitle {
	font-size: medium;
	    font-weight: bold;
}

/*이벤트리스트 이벤트날짠*/
#eventDate {
	font-size: medium;
}

/***********************************************이벤트상세보기***********************************************/
/*이벤트상세보기 타이틀*/
#eventDetailTitle {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0 -6px #d03535 inset;
	margin-left: 900px;
}

/*이벤트상세보기 제목*/
#eventName {
	font-weight: bold;
	font-size: 50px;
}
/*이벤트상세보기 상세내용*/
.eventContent {
	border: none;
	background-color: #fff;
	word-break: break-all;
}
.eventContent p img{
	width:100%;
}

/***********************************************이벤트 등록***********************************************/
/*이벤트 등록폼*/
#addEvent {
	margin-left: 150px;
}

#addEvent input[type=text] {
	width: 944px;
	font-size: medium;
	border: 1px solid #000000;
	height: 30px;
}

#addEvent input[type=file] {
	float: right;
	border: 1px solid #000000;
	margin-right: 300px;
	width: 40%;
}

#addEvent input[type=button] {
	background-color: #d03535;
	color: white;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #d03535;
	float: right;
	margin-right: 45px;
}

/***********************************************관리자 페이지***********************************************/
/*관리자페이지 타이틀*/
#manageFormTitle {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0 -6px #d03535 inset;
	margin-left: 830px;
}
/*관리자페이지 선택버튼*/
#manageFormBtn {
	color: white;
	border: 2px solid #d03535;
	float: left;
	font-size: xx-large;
	font-weight: bolder;
	width: 20%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #d03535;
	text-align: center;
	margin-right: 50px;
}
/***********************************************관리자페이지 아티스트승인***********************************************/
/* 아티스트 정보[팝업]*/
#manageArtistInfopopup{
	width:1000px;
	min-height:600px;
	background-color:#fff;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index: 5;
	display: none;
	opacity: 0;
}
/*아티스트 정보타이틀[팝업]*/
#manageArtistInfopopup .manageArtistInfoTitle{
	width:100%;
	height:70px;
	text-align:center;
	float:left;
	background-color:#d03535;
	position: relative;
}
#manageArtistInfopopup .manageArtistInfoTitle h1{
	color:#fff;
}
/*아티스트 정보타이틀[팝업] - 닫기*/
#manageArtistInfopopup .manageArtistInfoTitle svg{
	position: absolute;
	top:0;
	right:0;
	margin:10px;
	color:#fff;
	cursor: pointer;
}
/*아티스트 정보[팝업] - 소개글 */
#manageArtistInfopopup p{
	word-break: break-all;
	padding:15px;
}

#checkArtistForm tbody tr td:nth-child(8){
	cursor: pointer;
}


/*********************************************** 회원관리 ***********************************************/

/*회원관리 테이블*/
#manageMemberTable {
	width: 100%;
}

#manageMemberTable td {
	text-align: center;
	padding: 6px;
}

#manageMemberTable th {
	padding: 5px;
	background-color: #d03535;
	text-align: center;
	color: white;
}

#manageArtistInfo {
	width: 135px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#manageEventContent p {
	width: 245px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*회원관리 삭제,아티스트목록,탈퇴회원목록 선택버튼*/
#manageMemberBtn input[type=button] {
	color: white;
	background-color: #d03535;
	border-radius: 5px;
	border: 2px solid #d03535;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}

#manageMemberBtn a {
	color: white;
	background-color: #d03535;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #d03535;
	margin-bottom: 10px;
	padding: 5px 10px 5px 10px;
}

/*회원관리 검색폼*/
#searchManageForm input[type=submit] {
	color: white;
	background-color: #d03535;
	border-radius: 5px;
	border: 2px solid #d03535;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	background-color: #d03535;
}

#searchManageForm input[type=text] {
	border-radius: 5px;
	border: 2px solid #d03535;
	padding: 5px 0px 5px 50px;
	margin-left: 860px;
}
/*********************************************** 공연리스트 ***********************************************/

/* 이동욱 board/show css */
/*공연리스트 타이틀*/
.showListTitle {
	margin-top: 30px;
	margin-bottom: 30px;
}

#showListTitle {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0 -6px #d03535 inset;
	margin-left: 900px;
}

/*공연리스트 공연등록 버튼*/
#showListRegisterBtn input[type=submit] {
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
	color: white;
}
/* 공연제목 크기조절 */
#showListTitleTd {
	width: 336px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* 	style="display: inline-block; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" */
}

/*********************************************** 공연상세보기 ***********************************************/

/*공연상세보기 상세내용*/
#showDetailContent img {
	max-width: 100%;
	max-height: 100%;
	float: left;
}
/*공연상세보기 댓글등록 버튼*/
#commentRegisterBtn {
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
}
/*공연상세보기 기존 댓글수정 버튼 - commentUpdate*/
#commentUpdate input[type=button] {
	border: 2px solid #eea236;
	border-radius: 5px;
	background-color: #ec971f;
	color: white;
}

#commentUpdate input[type=submit] {
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
	color: white;
	color: white;
}
/*공연상세보기 기존 댓글수정완료 버튼*/
#btnUpdate {
	border: 2px solid #eea236;
	border-radius: 5px;
	background-color: #ec971f;
	margin-right: 5px;
	color: white;
}
/*공연상세보기 기존 댓글수정취소 버튼*/
#btnUpdateCancel {
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
	color: white;
}

/***********************************************다중사진 미리보기***********************************************/
/* 사진 미리보기 - 최상위*/
#multipartPreView {
	width: 1400px;
	height: 800px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: none;
	opacity: 0;
	text-align: center;
}
/*사진 미리보기 이미지 영역*/
#multipartPreView .preViewImg {
	width: 100%;
	height: 80%;
	position: relative;
}
/*사진 미리보기 빈 이미지 설정*/
#multipartPreView .preViewImg .preViewDefault {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #999;
}

#multipartPreView .preViewImg ul {
	width: 100%;
	padding: 15px;
}

#multipartPreView .preViewImg ul li {
	float: left;
	width: 19%;
	height: 200px;
	overflow: hidden;
	border: 1px solid #000;
	position: relative;
	margin-right: 17px;
	margin-bottom: 15px;
}

#multipartPreView .preViewImg ul li:nth-child(5n+0) {
	margin-right: 0;
}

#multipartPreView .preViewImg ul li img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*사진미리보기 파일업로드폼*/
#multipartPreViewForm {
	height: 20%;
}

#multipartPreViewForm .multipartPreViewFile input {
	text-align: center;
	display: initial;
	line-height: 50px;
}

#multipartPreViewForm .multipartPreViewFile, #multipartPreViewForm .multipartPreViewBtn
	{
	height: 50%;
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
}

#multipartPreViewForm input[type=button] {
	width: 150px;
	height: 50px;
	background-color: #d03535;
	color: #fff;
	border: none;
	margin-right: 10px;
	border: 2px solid #d03535;
	border-radius: 5px;
}

/*********************************************** 아티스트 일정(달력)  ***********************************************/
/* 아티스트 일정 디자인 - 진용현 */
/*아티스트 달력-최상위*/
#calendar {
	width: 900px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -3;
	background-color: #fff;
	padding: 5px;
	text-align: center;
	opacity: 0;
	margin: 50px auto;
	position: absolute;
}
/*아티스트 달력 - 타이틀*/
#calendar .calendarTitle {
	background-color: #d03535;
	color: #fff;
	height: 100px;
	position: relative;
}

#calendar .calendarTitle svg {
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	cursor: pointer;
}

#calendar .calendarTitle h1 {
	line-height: 100px;
	margin: 0;
}
/*아티스트 달력세부*/
#calendar #artistCalendar {
	padding: 15px
}

#calendar #artistCalendar a {
	text-decoration: none;
	color: #d03535;
}

#calendar #artistCalendar table tr th {
	background-color: #d03535;
}

#calendar #artistCalendar table tr th a {
	color: #fff;
}

#calendar #artistCalendar button {
	background-color: #d03535 !important;
	border: none !important;
	opacity: 1;
}

/* fullcalendar css */
.fc-h-event {
	background-color: #d03535 !important;
	border: none !important;
}

/*********************************************** 비밀번호 수정  ***********************************************/
/* 비밀번호 변경 css  - 진용현*/
#passwordUpdate {
	width: 40%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*비밀번호 수정 타이틀*/
#passwordUpdate .passwordUpdateTitle {
	height: 80px;
}

#passwordUpdate .passwordUpdateTitle h2 {
	text-align: center;
	position: relative;
	font-weight: bold;
	margin: 0;
}

#passwordUpdate .passwordUpdateTitle h2::before {
	content: "";
	width: 14%;
	height: 2px;
	background-color: #d03535;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0);
}
/*비밀번호 수정폼*/
#passwordUpdate form table {
	margin: 0 auto;
	width: 100%;
	border: 1px solid #d03535;
}

#passwordUpdate form table tr {
	border-bottom: 1px solid #d03535;
}

#passwordUpdate form table tr th {
	width: 30%;
	border-right: 1px solid #d03535;
	text-align: center;
}

#passwordUpdate form table tr td {
	width: 70%;
	text-align: left;
	padding: 5px;
}

#passwordUpdate form table tr td input {
	width: 100%;
	border: none;
}
/*비밀번호 수정 버튼*/
#passwordUpdate #passwordUpdateForm button {
	width: 100%;
	height: 40px;
	color: #fff;
	background-color: #d03535;
	border: none;
	border: 2px solid #d03535;
	border-radius: 5px;
}
/***********************************************마이페이지***********************************************/
/*마이페이지[아티스트] 소개글 더보기 버튼*/
.mypageContent #myBtn{
	border:none;
	background-color:inherit;
	width:100%;
	text-align: center;
	position: relative;
	outline: none;
}
.mypageContent #myBtn::before{
	content:"";
	width:40%;
	height: 1px;
	position: absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	border:1px dotted #999;
	z-index: -1;
}
.mypageContent #myBtn::after{
	content:"";
	width:40%;
	height: 1px;
	position: absolute;
	right:0;
	top:50%;
	transform:translate(0,-50%);
	border:1px dotted #999;
	z-index: -1;
}
/*********************************************** 주석 미정리 내용  ***********************************************/

/* 팔로우리스트 세희 */
.pull-left {
	float: right !important;
}

.thumbnail alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/* 네이버에디터 사진 업로드 버튼 대신*/
.mutiPhotoUpload {
	width: 952px;
	position: relative;
}

.mutiPhotoUpload textarea {
	width: 99%;
}

.mutiPhotoUpload #mutiPhotoUploadBtn {
	position: absolute;
	right: 10px;
	color: #999;
}

.mutiPhotoUpload #mutiPhotoUploadBtn button {
	width: 70px;
	height: 30px;
	border: none;
	background-color: #f4f4f4;
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
}

/* 세희페이지css */
.ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
/* 세희 마이페이지 css*/
#mypage .removeMediaBtn {
	display: none;
}
#mypage .updateMediaBtn {
	display: none;
}
#mypage .eventListMediaBtn {
	display: none;
}
#mypage .followListMediaBtn {
	display: none;
}
#mypage .passUpdateMediaBtn {
	display: none;
}

#mypage .updateMemberMediaBtn {
	display: none;
}
#mypage .passUpdateMemberMediaBtn {
	display: none;
}
#mypage .followListMemberMediaBtn {
	display: none;
}
#mypage .removeMemberMediaBtn {
	display: none;
}

#mypagetable ,#mypagetable tr th{
 text-align: center;
}

#mypage-alink .mypageBtn{
	width:84%;
	margin:0 auto;
}
#mypage-alink .mypageBtn a{
	float:left;
	text-align:center;
	width: 180px;
	height: 30px;
	line-height:30px;
	border: 1px solid #000;
	margin-right: 10px;
}
	
	/*-----마이페이지전체ui-------*/
#btngroup h1 {
	color: var(--solid);
	font-size: 2.5rem;
	margin-top: 6rem;	
}
#btngroup .btn {
	position: relative;
	margin: 0 auto;
	width: var(--btn-w);
	color: #d03535;
	border: .15em solid #d03535;
	border-radius: 5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.9em;;
	line-height: 2em;
	cursor: pointer;	
	margin-top: 10px;
    margin-right: 10px;
}
#btngroup .dot {
	content: '';
	position: absolute;
	top: 0;
	width: var(--dot-w);
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}
#btngroup .dot:after {
	content: '';
	position: absolute;
	left: calc(50% - .4em);
	top: -.4em;
	height: .8em;
	width: .8em;
	background: var(--primary);
	border-radius: 1em;
	border: .25em solid var(--solid);
	box-shadow: 0 0 .7em var(--solid),
				0 0 2em var(--primary);
}
 .btn:hover .dot, .btn:focus .dot {
	animation: atom 2s infinite linear;
	display: block;
}
 @keyframes atom {
	0% {transform: translateX(0) rotate(0);}
	30%{transform: translateX(var(--tr-X)) rotate(0);}
	50% {transform: translateX(var(--tr-X)) rotate(180deg);}
	80% {transform: translateX(0) rotate(180deg);}
	100% {transform: translateX(0) rotate(360deg);}
}


#mypage img{
	width: 35%;
    float: left;
}
  #mypage{
  width: 100%;
  margin-top: 43px;
  }
  #mypage .mypageImage img {
  	width: 89%;
  }
  #mypage .mypageImage{
  	width: 40%;
  	float: left;
  	max-height :600px;
  }
  #mypage .mypageContent{
  	width: 40%;
  	float:left;
  	margin-left:20px;
  	font-size: large;
  }
  #btngroup{
/*   	position: absolute; */
  	margin-top: 29px;
  }
  #artistInfo{
  	height: 150px;
  	overflow: hidden;
  	
  }
  .mypageContent p {
  	 word-break: break-all; 
  }
/*   .mypageContent #contentDetai{
  margin:
  } */
  
  .artistCheckEventTable {
  	text-align: center;
  }
  
  .artistCheckEventTable tr th {
  	color: white;
  	background-color: #d03535;
  	text-align: center;
  }

/* 세희 마이페이지전체ui 끝 */

/*공지시항리스트 UI 김수민 */
.logoNotice {
	margin-top: 50px;
	margin-bottom: 30px;
}

#logoNotice {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0 -6px #d03535 inset;
	margin-left: 850px;
}

#noticeList {
	width: 100%;
}

#noticeList tr  th {
	border: 2px solid #d03535;
	border-collapse: collapse;
	text-align: center;
	background-color: #d03535;
	padding: 5px;
	color: white;
}

#noticeList tr td {
	border-collapse: collapse;
	text-align: center;
	padding: 5px;
}

#noticeButton_1 input[type=submit] {
	width: 50px;
	height: 30px;
	border: 1px #d03535 solid;
	background-color: #d03535;
	position: relative;
	float:right;
	color: white;
	margin-right: 10px;
	border-radius: 5px;
}

#noticeButton_2 {
	width: 50px;
	height: 30px;
	border: 1px #e33636 solid;
	background-color: #d03535;
	position: relative;
	float: right;
	color: white;
	border-radius: 5px;
}

/*공지사항 상세보기 UI 김수민  */
/*공지사항 제목*/
#noticeTitle{
    word-break: break-all;
}

#noticeDetail {
	width: 100%;
	margin-top: 50px;
}

#noticeDetail #DetailTitle {
	font-size: 50px;
}

#noticeDetail tr th {
	text-align: left;
}
#noticeDtailProFile{
	width: 35px;
	height: 35px;
	overflow: hidden;
	position: relative;
	float: left;
	border-radius: 100%;
}
.noticeImg{
	display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
#noticeWrite{
	font-size: 15px;
}
#noticeDate{
	padding-top:30px;
	padding-left: 15px;
	font-size: 10px;
}

#noticeContent {
	height: 200px;
	font-size: 20px;
}

#noticeDetailButton {
	width: 50px;
	height: 30px;
	float: left;
	background-color: #ec971f;
	color: white;
	border-radius: 5px;
	border: 1px solid #d58512;
	margin-right: 5px;
}

#noticeDeleteButton {
	width: 50px;
	height: 30px;
	float: left;
	background-color: #d03535;
	color: white;
	border-radius: 5px;
	border: 1px solid #d03535;
}

/*공지사항 등록 UI 김수민*/
#registerNoticeTitle{
	width: 100%;
	height:30px;
	font-size:20px;
	margin-top: 50px;
}

#register {
	font-size: 40px;
	font-weight: bolder;
	box-shadow: 0-6px #d03535 inset;
	margin-left:800px;
	padding-bottom: 5px;
}

#content {
	font-size: 25px;
	position: relative;
	width: 100%;
}

#submitButton {
	width: 70px;
	height: 40px;
	border: 1px solid #d03535;
	background-color: #d03535;
	color: white;
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

#resetButton {
	width: 70px;
	height: 40px;
	border: 1px solid #d03535;
	background-color: #d03535;
	color: white;
	position: relative;
	float: right;
	margin-top: 10px;
	border-radius: 5px;
}

/*공지사항 수정 UI 김수민  */
#logoNoticeUpdate{
	font-size: 40px;
    font-weight: bolder;
    box-shadow: 0-6px #d03535 inset;
    margin-left: 800px;
    padding-bottom: 5px;
}

#updateTitle {
	width: 100%;
	height: 30px;
	margin-top: 50px;
}

#updateContent {
	position: relative;
	float: left;
	width: 100%;
}

#update {
	font-size: 25px;
	position: relative;
	float: left;
	left: 490px;
	margin-top: 30px;
	width: 100%;
}

#updateButton {
	width: 70px;
	height: 40px;
	background-color: #d03535;
	border-color: #d03535;
	color: white;
	float: right;
	position: relative;
	margin-right: 10px;
	margin-top: 10px;
}

#backButton {
	width: 70px;
	height: 40px;
	background-color: #d03535;
	border-color: #d03535;
	color: white;
	position: relative;
	float: right;
	border-radius: 5px;
	margin-top: 10px;
}

/* 회원탈퇴 페이지 ui 정세희*/
.remove-member {
	padding: 76px 100px 100px 65px;
	border: 2px solid #ededed;
	width: 70%;
	text-align: center;
	font-size: 19px;
	margin-left: 50px;
	margin: 0 auto;
}

.tabl310 {
	margin: auto;
}

.removBtn {
	background: #d03535;;
	border: 1px solid rgba(31, 31, 31, 0.5);
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	font-weight: 500;
	border-radius: 0 !important;
	margin: 10px;
	width: 106px;
    height: 35px;
}
/*회원탈퇴 페이지 ui 끝*/

/*팔로우리스트 ui 정세희*/
.followListTitle {
	margin-top: 50px;	
}

#followListTitle {
	font-size: 45px;
    font-weight: bold;
    margin-left: 900px;
    border-bottom: 4px solid #d03535;
}

 .followlistcheck ul li {
  display: inline-block;
}

.followlistcheck input[type="checkbox"][id^="cb"] {
  display: none;
} 

.followlistcheck label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.followlistcheck label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.followlistcheck label img {
    height: 300px;
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.followlistcheck :checked+label {
  border-color: #ddd;
}

.followlistcheck :checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

.followlistcheck :checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.followlist img {
	margin-top: 50px;
	border: 2px solid #d03535;
	border-radius: 5px;
	width: 300px;
	height: 300px;
}

.followlist a {
	padding: 5px 5px;
	width: 20%;
	display: inline-block;
	text-align: center;
}

 .followlistcheck{
    width: 100%;
    float: left;
}
.progress-bar{
	line-height: 30px;
}
#noticeDetailContentSide{
	float: left;
	width: 100%;
	height: 942px;
	max-height: 942px;
	word-break: break-all;
}
.followlistcheck a{
	width:100%;
	padding: 5px 5px;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: #d03535;
    color: white;
    border-block-start-style: none;
}  
.buttonSec{
}
#mypageTitle{
	width:100%;
	float:left;
	text-align:center;
	font-size: 40px;
    font-weight: bolder;
    margin-top:30px;
    margin-bottom:30px;
    position: relative;
}

#mypageTitle::before{
	content:"";
	width:23%;
	height: 5px;
	background-color:#d03535;
	position: absolute;
	bottom:-1%;
	left:50%;
	transform:translate(-50%,0);
}

.followlistcheckSection{
	margin-top: 80px;	
	
}
/*팔로우리스트 ui 끝*/

/* 이벤트승인현황 ui 정세희*/
.evetext {
	text-align: right;
}

#checkEventTitle {
	display: inline-block;
	width: 117px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#checkEventContent {
	display: inline-block;
	width: 267px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 이벤트승인현황 ui 끝 정세희*/

/*********************************************** 공연등록 + 공연수정 ***********************************************/
/*공연등록 날짜*/
#showDate {
	border: 0
}
/*공연등록 버튼*/
#postWrite {
	float: right;
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
}
/*공연수정버튼*/
#postUpdate {
	float: right;
	border: 2px solid #d03535;
	border-radius: 5px;
	background-color: #d03535;
}
/*[등록]공연제목*/
#showTitle {
	width: 944px;
	height: 35px
}
/*[수정]공연제목*/
#postTitle {
	width: 944px;
	height: 35px
}
/*[등록]공연등록 날짜*/
#showRegisterShowDate {
	width: 944px
}
#showRegisterFormDiv{
	margin-left: 130px
}
#showUpdateFormDiv{
	margin-left: 130px
}
/*[수정]공연수정 날짜*/
#showUpdateShowDate {
	width: 944px
}

.btn-comment form {
	display: inline;
}

#showListTable th {
	text-align: center;
	color: white;
}

#showListTable td {
	text-align: center;
}

#showListTable #showListTableNotice {
	color: red;
	font-weight: bold;
}

#showListTableNotice a {
	color: red;
	font-weight: bold;
}

#showDetailLeftSide {
	float: left;
	width: 15%;
	height: 1000px;
}

#showDetailContentSide {
	float: left;
	width: 30%;
	height: 942px;
	max-height: 942px;
	margin-left: 390px;
	word-break: break-all;
}
.myBarForm{
	width:94%;
	float:left;
}
#myBar {
	height: 30px;
}
#tempertureBar {
	width: 100%;
	float: left;
}
/* #showDetailBlankSide {
	float: left;
	width: 2%;
	height: 1000px;
} */
#showDetailCommentSide {
	float: left;
	width: 30%;
	height: 942px;
}

#showDetailrightSide {
	float: right;
	width: 12%;
	height: 100px;
}

.showDetailArtistComment {
	text-align: left;
}

.showDetailMemberComment {
	text-align: right;
}

.btn-disabled {
	background: grey;
}

#btn-update {
	float: left;
	margin-right: 5px;
}

#btn-delete {
	float: left;
}

#heart {
	color: red;
}

#heartBlank {
	color: red;
}

#comment {
	width: 100%;
	background: white;
	border: #2f323b;
	color: black
}

#commentContent {
	width: 440px;
	height: 60px;
}

#showDetailContent {
	max-width: 500px;
	max-height: 907px;
}

#showListTable th {
	background: #d03535;
}

#showDetailProfile {
	width: 35px;
	height: 35px;
	overflow: hidden;
	position: relative;
	float: left;
	border-radius: 100%;
}

#showDetailCommentArtistProfile {
	width: 35px;
	height: 35px;
	overflow: hidden;
	position: relative;
	float: left;
	border-radius: 100%;
}

#showDetailCommentNickName {
	text-align: center;
}

/* 채팅 테스트 */
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #d03535;
	border-radius: 2px;
}

.test {
	max-height: 942px;
	overflow: scroll;
}

.chatbox {
	width: 300px;
	height: 907px;
	max-height: 907px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.chat-window {
	flex: auto;
	/* height: 100%; */
	max-height: 907px;
	background: #f6f9f6;
	overflow: auto;
}

#commentRegisterTd {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #d03535;
}

#commentregisterForm {
	border-top: 1px solid #2671ff;
}

.chat-input {
	flex: 0 0 auto;
	height: 60px;
	background: #40434e;
	border-top: 1px solid #2671ff;
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.chat-input input {
	height: 59px;
	line-height: 60px;
	outline: 0 none;
	border: none;
	width: calc(100% - 60px);
	color: white;
	text-indent: 10px;
	font-size: 12pt;
	padding: 0;
	background: #40434e;
}

.chat-input button {
	float: right;
	outline: 0 none;
	border: none;
	background: rgba(255, 255, 255, .25);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 2px 0 0 0;
	margin: 10px;
	transition: all 0.15s ease-in-out;
}

.chat-input input[good]+button {
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
	background: #2671ff;
}

.chat-input input[good]+button:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.chat-input input[good]+button path {
	fill: white;
}

.msg-container {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
}

.msg-box {
	display: flex;
	background: #d03535;
	padding: 10px 10px 0 10px;
	border-radius: 0 6px 6px 0;
	max-width: 80%;
	width: auto;
	float: left;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

#showDetailProfileImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#showDetailShowWriteDate {
	font-size: 12px;
	color: #c4b3b3;
}

#showDetailUpdateDeleteDiv {
	padding-top: 9px
}

.user-img {
	display: inline-block;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	/* background: #2671ff; */
	margin: 0 10px 10px 0;
}

.flr {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	width: calc(100% - 50px);
}

.messages {
	flex: 1 0 auto;
	text-align: center;
}

.msg {
	display: inline-block;
	font-size: 11pt;
	line-height: 13pt;
	color: rgba(255, 255, 255, .7);
	margin: 0 0 4px 0;
}

#msg-1 {
	color: black;
}

.msg:first-of-type {
	margin-top: 8px;
}

.timestamp {
	color: rgba(0, 0, 0, .38);
	font-size: 8pt;
	margin-bottom: 10px;
}

.username {
	margin-right: 3px;
}

.posttime {
	margin-left: 3px;
	color: #c4b3b3;
}

.msg-self .msg-box {
	border-radius: 6px 0 0 6px;
	background: white;
	float: right;
	word-break: break-all;
}

.msg-self .user-img {
	/*  margin: 0 0 10px 10px; */
	
}

.msg-self .msg {
	text-align: right;
}

.msg-self .timestamp {
	text-align: right;
}

#commentSpan {
	color: #d03535
}

#commentCheckResult {
	color: black
}

#commentCheckLimit {
	color: grey;
}
/* 채팅테스트 끝*/