@charset "UTF-8";

@font-face {
	font-family: 'JSDongkang-Regular';
	src: url('../font/JSDongkang-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MaplestoryOTF';
	src: url('../font/MAPLESTORY LIGHT.TTF');
	font-weight: normal;
	font-style: normal;
}

* {
	/* margin: 0 auto; */
	padding: 0;
	list-style: none;
}

input[type=password] {
	font-family: "맑은고딕";
}

#main {
	width: 100%;
	float: left;
	position: relative;
	min-height: 78vh;
	padding: 0;
	font-family: JSDongkang-Regular;
}

/* header 로고 + 검색 */
#header {
	width: 100%;
	height: 80px;
	z-index: 3;
	background-color: #d03535;
	color: white;
	font-family: MaplestoryOTF !important;;
}

/* 로고 */
#header .bitLog {
	width: 15%;
	height: 100%;
	float: left;
}

#header .bitLog a {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}

#header .bitLog a img {
	width: 95%;
	float: left;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	margin-top: 7px;
}

#header .navigation {
	width: 85%;
	height: 100%;
	float: left;
}

#header .navigation nav {
	width: 55%;
	float: left;
}

#header .navigation nav ul {
	width: 100%;
	height: 80px;
	margin: 0;
}

#header .navigation  nav ul li {
	width: 25%;
	height: 100%;
	line-height: 80px;
	float: left;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 22px;
}

#header .navigation  nav ul li::before {
	content: "";
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	left: -100%;
	top: 0;
	background-color: #d03535;
	z-index: -2;
	transition: 0.4s;
}

#header .navigation  nav ul li:hover::before {
	left: 0;
}

#header .navigation ul li a {
	text-decoration: none;
	color: inherit;
}

#header .navigation .loginbar {
	width: 30%;
	height: 100%;
	float: right;
}

#header .navigation .loginbar span {
	cursor: pointer;
}

#header .navigation .loginbar {
	width: 45%;
	float: left;
	text-align: center;
	color: white;
}

#header .navigation .loginbar .bitLogin {
	width: 50%;
	line-height: 80px;
	float: right
}

#header .navigation .loginbar .bitLogin a {
	color: #fff;
	font-size: 22px;
	margin-left: 15px;
	text-decoration: none;
}

/* 검색 */
#header .bitMainSearch {
	width: 47%;
	height: 100%;
	float: right;
	margin-right: 15px;
	position: relative;
	overflow: hidden;
}

#header .bitMainSearch #asd {
	height: 80px;
	float: right;
	cursor: pointer;
}

#header .bitMainSearch form {
	width: 100%;
	position: absolute;
	top: 25%;
	left: 100%;
}

#header .bitMainSearch form input {
	position: absolute;
	left: 0;
	border: 1px solid #e5e5e5;
	outline: none;
}

#header .bitMainSearch form select {
	position: absolute;
	width: 20%;
	height: 40px;
	border: 1px solid #e5e5e5;
	right: 0;
	background-color: #d03535;
}

#header .bitMainSearch form input[type=text] {
	left: 100px;
	width: 54%;;
	height: 40px;
	padding: 15px;
	border-left: none;
	background-color: #d03535;
}

#header .bitMainSearch form input[type=submit] {
	width: 100px;
	height: 40px;
	background-color: #d03535;
}

/*footer*/
#footer {
	width: 100%;
	float: left;
	border-top: 1px solid white;
	padding: 25px;
	height: 100px;
	background-color: #FAFAFA;
	text-align: center;
	margin-bottom: 50px;
	font-family: JSDongkang-Regular;
}

#footer img {
	width: 50px;
	margin-right: 20px;
}

.showMain {
	float: inherit;
}

/* 메인페이지 -  비디오 */
#mainVideo {
	width: 100%;
	height: 92vh;
	float: left;
	position: relative;
	overflow: hidden;
}

#mainVideo::before {
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("../../resources/img/pattern.png");
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#mainVideo video {
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

#mainVideo .mainVideoLoginForm {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

#mainVideo .mainVideoLoginForm span {
	width: 250px;
	height: 50px;
	line-height: 50px;
	float: left;
	margin-right: 20px;
	color: #fff;
	background-color: #d03535;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

#mainVideo .mainVideoLoginForm span::before {
	content: "";
	width: 100%;
	height: 100%;
}

/* 메인페이지 - 오늘의 공연 */
#todayShow {
	width: 100%;
	float: left;
}

#todayShow .artistShowTitle {
	margin-left: 45px;
}

#todayShow .artistShowTitle h2 {
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

#todayShow .artistShowTitle h2::before {
	content: "";
	width: 90%;
	height: 1px;
	float: left;
	background-color: #e5e5e5;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	z-index: -1;
}

#todayShow .artistShowTitle h2::after {
	content: "";
	width: 20%;
	height: 5px;
	float: left;
	background-color: #eb4034;
	position: absolute;
	left: 50%;
	top: -2%;
	transform: translate(-50%, 0);
	z-index: -1;
}

#todayShow .artistShowLeftBtn, #todayShow .artistShowRightBtn {
	width: 10%;
	height: 300px;
	float: left;
	position: relative;
}

#todayShow .artistShowLeftBtn::before, #todayShow .artistShowRightBtn::before
	{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	left: 0;
}

#todayShow .artistShowLeftBtn h1, #todayShow .artistShowRightBtn h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 0;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
}

#todayShow .artistShowLeftBtn h1 svg, #todayShow .artistShowRightBtn h1 svg
	{
	width: 2em;
	height: 2em;
}

#todayShow .artistShow {
	width: 80%;
	height: 300px;
	float: left;
	background-size: 100%;
	background-image: url("../../resources/img/content/todayShowbg.png");
	background-position: center center;
	position: relative;
}

#todayShow .artistShow::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.4;
}

#todayShow .artistShow .artistShowList {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#todayShow .artistShow .artistShowList li {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
	z-index: 2;
	color: #fff;
}

#todayShow .artistShow .artistShowList li:nth-child(1) {
	left: 0;
}

#todayShow .artistShow .artistShowList li .todayShowInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#todayShow .artistShow .artistShowList li a {
	width: 100%;
	height: 100%;
	float: left;
	color: #fff;
	text-decoration: none;
}

/* 메인페이지 - 추천 아티스트 */
#artisStandardt {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

#artisStandardt .artistRecommendationTltle {
	margin-left: 45px;
}

#artisStandardt .artistRecommendationTltle h2 {
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

#artisStandardt .artistRecommendationTltle h2::before {
	content: "";
	width: 90%;
	height: 1px;
	float: left;
	background-color: #e5e5e5;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	z-index: -1;
}

#artisStandardt .artistRecommendationTltle h2::after {
	content: "";
	width: 20%;
	height: 5px;
	float: left;
	background-color: #eb4034;
	position: absolute;
	left: 50%;
	top: -2%;
	transform: translate(-50%, 0);
	z-index: -1;
}

#artisStandardt .artistRecommendationLeftBtn, #artisStandardt .artistRecommendationRightBtn
	{
	width: 10%;
	height: 300px;
	float: left;
	position: relative;
}

#artisStandardt .artistRecommendationLeftBtn::before, #artisStandardt .artistRecommendationRightBtn::before
	{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background-color: #000;
	opacity: 0.8;
}

#artisStandardt .artistRecommendationLeftBtn h1, #artisStandardt .artistRecommendationRightBtn h1
	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 0;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
}

#artisStandardt .artistRecommendationLeftBtn h1 svg, #artisStandardt .artistRecommendationRightBtn h1 svg
	{
	width: 2em;
	height: 2em;
}

#artisStandardt .artistRecommendation {
	width: 80%;
	height: 300px;
	float: left;
	position: relative;
	overflow: hidden;
}

#artisStandardt .artistRecommendation .artistRecommendationList {
	position: absolute;
	left: 100%;
}

#artisStandardt .artistRecommendation .artistRecommendationList:nth-child(1)
	{
	left: 0;
}

#artisStandardt .artistRecommendation .artistRecommendationList,
	#artisStandardt .artistRecommendation .artistRecommendationList ul {
	width: 100%;
	height: 100%;
	float: left;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul li {
	width: 30.045%;
	height: 100%;
	float: left;
	margin-right: 45px;
	position: relative;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul a:nth-child(3) li
	{
	margin-right: 0;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul li img
	{
	width: 100%;
	height: 100%;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul li span
	{
	position: absolute;
	bottom: 1.5%;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

#artisStandardt .artistRecommendation .artistRecommendationList ul li::before
	{
	content: "";
	position: absolute;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height: 40px;
}

/* 로그인  */
#login {
	width: 700px;
	height: 400px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	display: none;
	z-index: 10;
	opacity: 0;
}
/*로그인 검은배경*/
#loginBlind {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	z-index: 5;
	opacity: 0;
	display: none;
}

#login .loginTitle {
	height: 20%;
	text-align: center;
	background-color: #d03535;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

#login .loginTitle h3 {
	margin: 0;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
}

#login .loginTitle svg {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	cursor: pointer;
	color: #fff;
}

#login .loginMain {
	width: 100%;
	height: 80%;
	float: left;
	position: relative;
}

#login .loginMain .loginForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login .loginMain .loginForm input {
	width: 300px;
	float: right;
	height: 50px;
	border: 1px solid #e5e5e5;
	padding: 10px;
}

#login .loginMain .loginForm input[type=submit] {
	width: 350px;
	background-color: #d03535;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

#login .loginMain .loginForm svg {
	border: 1px solid #e5e5e5;
	position: absolute;
	background-color: #fff;
	padding: 10px;
}

#login .loginMain .loginForm .login-label-group {
	width: 350px;
	height: 50px;
	position: relative;
	margin-bottom: 15px;
}

#login .loginMain .loginForm .login-label-group label {
	position: absolute;
	top: 0;
	left: 45px;
	display: block;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
	padding: 1.4rem;
}

#login .loginMain .loginForm .login-label-group input::placeholder {
	color: transparent;
}

#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown)
	{
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}

#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown) 
	~ label {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

/* 회원가입 + 회원수정 */
#registerTitle {
	margin-top: 30px;
}

#registerTitle h1 {
	position: relative;
}

#registerTitle h1::before {
	content: "";
	width: 100px;
	height: 5px;
	background-color: #999;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0);
}

#registerForm, #updateForm {
	width: 600px;
	margin-top: 25px;
}

#registerForm input[type=submit], #updateForm input[type=submit] {
	width: 100%;
	height: 50px;
	border: none;
	background-color: #999;
	color: #fff;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

#registerForm table tr th, #updateForm table tr th {
	width: 150px;
	text-align: center;
}

#registerForm table tr td, #updateForm table tr td {
	width: 450px;
}

#registerForm table tr td, #registerForm table tr th, #updateForm table tr td,
	#updateForm table tr th {
	border: 1px solid #e5e5e5;
}

#registerForm table tr td input, #updateForm table tr td input {
	width: 100%;
	border: none;
	padding: 10px;
	outline-color: #d03535;
}

#registerForm table tr td textarea, #updateForm table tr td textarea {
	width: 100%;
	height: 200px;
	padding: 15px;
	float: left;
}

#registerForm table tr td #registerId, #registerForm table tr td #registerAddress,
	#registerForm table tr td input[name=phone], #registerForm table tr td input[name=nickName],
	#updateForm table tr td #registerId, #updateForm table tr td #registerAddress,
	#updateForm table tr td input[name=phone], #updateForm table tr td input[name=nickName],
	#registerForm table tr td input[name=password] {
	width: 50%;
	float: left;
}

#registerForm table tr td span, #updateForm table tr td span {
	line-height: 40px;
}

#registerForm table tr td button, #updateForm table tr td button {
	width: 50%;
	height: 41px;
	border: none;
	background-color: #999;
}

#registerForm .defaultprofile, #updateForm .defaultprofile {
	float: left;
	height: 100px;
	overflow: hidden;
	position: relative;
}

#registerForm .defaultprofile img, #updateForm .defaultprofile img {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* 회원가입 체크 */
#choiceRegister {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
}

#choiceRegister .choiceTitle {
	margin-top: 60px;
}

#choiceRegister .choiceTitle h1 {
	position: relative;
	font-weight: bold;
}

#choiceRegister .choiceTitle h1::before {
	content: "";
	width: 7%;
	height: 2px;
	background-color: #d03535;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0);
}

#choiceRegister .choiceRegisterMemberText h3{
	width: 100%;
	border: 1px solid #e5e5e5;
	padding: 15px;
	background-color: #d03535;
	margin-top: 45px;
	color: #fff;
}

#choiceRegister ul {
	width: 300px;
	list-style: none;
	margin-top: 50px;
}

#choiceRegister ul li:nth-child(1) {
	width: 100%;
	height: 280px;
	border: 1px solid #e5e5e5;
	border-radius: 15px;
	position: relative;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	/*box-shadow: 2px 2px 2px 2px #000;*/
	overflow: hidden;
}

#choiceRegister ul li img{
	width:100%;
	float:left;
}

#choiceRegister ul li span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	font-weight: bold;
}

#choiceRegister ul li h3 {
	width: 100%;
	border: 1px solid #e5e5e5;
	padding: 15px;
	background-color: #d03535;
	margin-top: 0;
	color: #fff;
}

#choiceRegister ul li>a {
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	float: left;
}

#choiceRegister ul li h3 a {
	color: inherit;
	text-decoration: none;
}

/* 약관 동의서 */
#checkDocument {
	margin-top: 50px;
	text-align: center;
}

#checkDocument .checkDocumentContent {
	
	margin-bottom: 15px;
}

#checkDocument .checkDocumentTitle h1 {
	position: relative;
	font-weight: bold;
}


#checkDocument .checkDocumentTitle h1::before{
	content: "";
	width: 7%;
	height: 2px;
	float: left;
	background-color: #d03535;
	position: absolute;
	left: 50%;
	bottom:-13%;
	transform: translate(-50%, 0);
	z-index: -1;
}

#checkDocument .checkDocumentSubTitle {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}

#checkDocument .checkDocumentSubTitle span {
	float: left;
	font-size: 17px;
	font-weight: bold;
}

#checkDocument .checkDocumentContent pre {
	height: 400px;
}

#checkDocument .checkDocumentBtn {
	margin-top: 15px;
}

#checkDocument .checkDocumentBtn input {
	width: 150px;
	height: 40px;
	background-color: #d03535;
	border: none;
	margin-right: 15px;
	color: #fff;
}

/* 아티스트 리스트 */
#artist {
	width: 100%;
	float: left;
	margin-left: 150px;
}

#artistTitle {
	font-size: 40px;
	font-weight: bolder;
	border-bottom: 4px solid #999;
}

.artistList {
	float: left;
	width: 400px;
	margin-bottom: 40px;
}

.artistList img {
	border: 2px solid #000000;
	border-radius: 5px;
	width: 250px;
	height: 320px;
}

.artistList a {
	color: black;
	padding: 5px 5px;
	width: 63%;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #000000;
}

/*아티스트 상세보기*/
.artistProfileImg img {
	float: left;
	margin-left: 150px;
}

.artistProfile {
	font-size: medium;
	margin-left: 50px;
	text-align: left;
}

.artistProfile img {
	width: 5%;
	height: 5%;
}

.artistProfile #artistName {
	font-size: x-large;
	font-weight: bold;
	float: left;
}

.artistProfile #follow {
	color: black;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #ffffff;
	float: right;
}

/*이벤트 리스트*/
.eventList img {
	width: 800px;
	height: 150px;
}

#eventTitle {
	font-size: medium;
	font-weight: bolder;
}

#eventDate {
	font-size: medium;
}

#event a {
	text-decoration: none;
	color: black;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #000000;
	float: right;
	margin-right: 350px;
}

/*이벤트 상세보기*/
#eventName {
	font-weight: bold;
	font-size: 50px;
}

/*이벤트 등록*/
#eventContent {
	margin-left: 350px;
}

#addEvent input[type=text] {
	width: 91%;
	font-size: small;
	border-radius: 5px;
	border: 2px solid #000000;
	height: 30px;
}

#addEvent input[type=file] {
	float: right;
	border-radius: 5px;
	border: 2px solid #000000;
	margin-right: 300px;
	width: 50%;
}

#addEvent input[type=submit] {
	text-decoration: none;
	color: black;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #000000;
	float: right;
	margin-right: 30px;
}

/*관리자 페이지*/
#manageMember {
	color: black;
	border-radius: 5px;
	border: 2px solid #000000;
	float: left;
	margin-left: 400px;
	margin-bottom: 50px;
	font-size: xx-large;
	font-weight: bolder;
	width: 20%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#managePost {
	color: black;
	border-radius: 5px;
	border: 2px solid #000000;
	float: right;
	margin-right: 400px;
	margin-bottom: 50px;
	font-size: xx-large;
	font-weight: bolder;
	width: 20%;
	padding-top: 100px;
	padding-bottom: 100px;
}

/*회원 관리*/
#manageMemberTable td {
	text-align: center;
	padding: 6px;
}

#manageMemberTable th {
	padding: 5px;
	background-color: #999;
	text-align: center;
}

#manageMemberBtn input[type=button] {
	background-color: white;
	border-radius: 5px;
	border: 2px solid #000000;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}

#manageMemberBtn a {
	text-decoration: none;
	color: black;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #000000;
	margin-bottom: 10px;
}

/* 회원가입 성공 */
#registerResult {
	width: 500px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#registerResult h1 {
	margin-bottom: 15px;
}

#registerResult h4 {
	font-weight: bold;
	color: #ff0000;
}

#registerResult a {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	float: left;
	border: 1px solid #e5e5e5;
	background-color: #999;
	color: #fff;
	text-decoration: none;
}

#registerResult img {
	width: 100%;
}

/* 이동욱 board/show css */ 
#showDetailContent img {
max-width: 100%;
max-height: 100%;
float: left;
}

.btn-comment form {
	display: inline;
}
#showListTable th{
	text-align: center;
}
#showListTable td{
	text-align: center;
}
#showListTable #showListTableNotice{
	background: orange;
}
#showDetailLeftSide {
	float: left; width: 15%; height: 100px;
}
#showDetailContentSide {
	float: left; /* width: 38%; */ height: 942px;
}
#showDetailBlankSide {
	float: left; width: 2%; height: 1000px;
}
#showDetailCommentSide {
	 float: left; width: 33%; height: 942px;
}

#showDetailrightSide {
	float: right; width: 12%; height: 100px;
}
.showDetailArtistComment {
	text-align: left;
	
	
	
}
.showDetailMemberComment {
	text-align: right;
}
.btn-disabled {
	background: grey;
}
#btn-update {
	float: left;
}
#btn-delete {
	float: left; 
}
#heart {
	color:red;
}
#heartBlank {
	color:red;
}
#comment {
	width: 450px;
}
#commentContent {
	width: 440px; height: 60px;
}
#showDetailContent {
	max-width: 500px;
	max-height: 907px;
}

/* 채팅 테스트 */

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #d03535;
  border-radius: 2px;
}
.test{
    max-height: 942px;
	overflow: scroll;
}
.chatbox {
    width: 300px;
    height: 907px;
    max-height: 907px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-window {
    flex: auto;
    /* height: 100%; */
    max-height: 907px;
    background: #f6f9f6;
    overflow: auto;
}
#commentRegisterTd {
	    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #2671ff;
}
#commentRegisterForm {
    border-top: 1px solid #2671ff;
	
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #2671ff;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.chat-input input[good] + button path {
    fill: white;
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    background: #d03535;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
    color: #c4b3b3;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: white;
    float: right;
    word-break:break-all;
}
.msg-self .user-img {
   /*  margin: 0 0 10px 10px; */
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}
/* 채팅테스트 끝*/





/* 사진 미리보기 */
#multipartPreView {
	width: 1400px;
	height: 800px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: none;
	opacity: 0;
}

#multipartPreView .preViewImg {
	width: 100%;
	height: 80%;
	position: relative;
}

#multipartPreView .preViewImg .preViewDefault {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #999;
}

#multipartPreView .preViewImg ul {
	width: 100%;
	padding: 15px;
}

#multipartPreView .preViewImg ul li {
	float: left;
	width: 19%;
	height: 200px;
	overflow: hidden;
	border: 1px solid #000;
	position: relative;
	margin-right: 17px;
	margin-bottom: 15px;
}

#multipartPreView .preViewImg ul li:nth-child(5n+0) {
	margin-right: 0;
}

#multipartPreView .preViewImg ul li img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#multipartPreViewForm {
	height: 20%;
}

#multipartPreViewForm .multipartPreViewFile input {
	text-align: center;
	display: initial;
	line-height: 50px;
}

#multipartPreViewForm .multipartPreViewFile, #multipartPreViewForm .multipartPreViewBtn
	{
	height: 50%;
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
}

#multipartPreViewForm input[type=button] {
	width: 150px;
	height: 50px;
	background-color: #999;
	color: #fff;
	border: none;
	margin-right: 10px;
}

/* 팔로우리스트 세희 */
.pull-left {
	float: right !important;
}

.thumbnail alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/* 네이버에디터 사진 업로드 버튼 대신*/
.mutiPhotoUpload {
	width: 952px;
	position: relative;
}

.mutiPhotoUpload textarea {
	width: 99%;
}

.mutiPhotoUpload #mutiPhotoUploadBtn {
	position: absolute;
	right: 10px;
	color: #999;
}

.mutiPhotoUpload #mutiPhotoUploadBtn button {
	width: 70px;
	height: 30px;
	border: none;
	background-color: #f4f4f4;
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
}

/* 세희페이지css */
.ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

/*공지시항리스트 UI 김수민 */
#noticeList {
	width: 700px;
	height: 15%;
	border: 2px solid #d1fffc;
	font-size: 20px;
}

#noticeList tr  th {
	border: 2px solid #d1fffc;
	border-collapse: collapse;
	text-align: center;
	background-color: #d1fffc;
}

#noticeList tr td {
	border-bottom: 2px solid #d1fffc;
	border-collapse: collapse;
	text-align: center;
	border-color: #91fff0;
}

#noticeButton_1 input[type='submit'] {
	width: 50px;
	height: 30px;
	border: 1px #0000a0 solid;
	background-color: #ffffff;
	position: relative;
	float:right;
	right:380px;
	margin-top: 10px;
}

#noticeButton_1 input[type='submit']:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 225, 1.0);
}

#noticeButton_2 {
	width: 50px;
	height: 30px;
	border: 1px #ff1717 solid;
	background-color: #ffffff;
	position: relative;
	float: right;
	right: 250px;
	margin-top: 10px;
}

#noticeButton_2:hover {
	color: #ffffff;
	background-color: rgba(225, 0, 0, 1.0);
	border-color: #57cfc7;
}

.pagination {
	display: block;
	text-align: center;
	margin-top: 50px;
}

.pagination>li>a {
	float: none;
}

/*공지사항 상세보기 UI 김수민  */
#noticeDetail {
	width: 490px;
	height: 250px;
	border-collapse: collapse;
	margin-top: 30px;
}
#noticeDetail tr th {
	text-align: left;
	font-size: 20px;
	border-collapse: collapse;
	border: 1px solid;
	background-color: #d03535;
	color: white;
	border: 2px solid;
}
#noticeDetail tr td {
	text-align: center;
	font-size: 25px;
	border-collapse: collapse;
	border: 1px solid;
}
#noticeContent{
	vertical-align:text-top;
	background-color: #ff4a4a;
	color:white; 
	border: 2px solid;
}
#noticeDetailButton {
	width: 50px;
	height: 30px;
	position: relative;
	float: right;
	right: 433px;
	margin-top: 10px;
	border: 1px solid #d03535;
	background-color: #ffffff;
}

#noticeDetailButton:hover {
	border: 1px solid #d03535;
	background-color: #d03535;
	color: #ffffff;
}
/*공지사항 등록 UI 김수민*/
#registerNoticeTitle{
	width: 1800px;
	height:30px;
	font-size:20px;
	margin: 5px;
	border: 1px solid;
}
#content{
	font-size: 25px;
}
#submitButton{
	width: 70px;
	height:40px;
	border: 1px solid  blue;
	background-color: white;
	color: blue;
	position: relative;
	float:right;
	right: 50px;
}
#resetButton{
	width: 70px;
	height:40px;
	border: 1px solid red;
	background-color: white;
	color: red;
	position:relative;
	float: right;
	right: 23px;
}
#resetButton:hover{
	background-color: red;
	color: white;
}
#submitButton:hover{
	background-color: blue;
	color: white;
}
/*회원정보 수정 UI 김수민  */
#updateTitle{
	width: 1860px;
	font-size: 20px;
}
#updateContent{
	font-size: 25px;
}
#updateButton{
	width: 70px;
	height:40px;
	background-color: white;
	border-color: blue;
	position: relative;
	 float:right;
	right: 150px;
}
#updateButton:hover{
	background-color: blue;
	color: white;
}
#backButton{
	width: 70px;
	height:40px;
	background-color: white;
	border-color: red;
	position: relative;
	float:left;
	left: 1808px;
}
#backButton:hover{
	background-color:red;
	color:white;
}
/* 회원탈퇴 페이지 ui 정세희*/
.remove-member{
    padding: 76px 100px 100px 65px;
    border: 2px solid #ededed;
    width:70%;
    text-align: center;
    font-size: 19px;
 }
 
fieldset {
    border: none;
    vertical-align: top;
}

.removBtn {
	background: #1f1f1f;
	border: 1px solid rgba(31, 31, 31, 0.5);
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	font-weight: 500;
	border-radius: 0 !important;
	margin: 10px;
}
/*회원탈퇴 페이지 ui 끝*/

/*팔로우리스트 ui 정세희*/
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*팔로우리스트 ui 끝*/