@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-family: "맑은고딕";
}

/* header 로고 + 검색 */
#header {
	width: 100%;
	border-bottom: 2px solid #e5e5e5;
}

#header .bitLog {
	width: 30%;
	float: left;
}

#header .bitMainSearch {
	width: 70%;
	float: left;
}

/* header 메뉴 */
#header .navigation ul li {
	width: 23%;
	float: left;
	text-align: center;
	background-color: #999;
}

#header .navigation ul li a {
	text-decoration: none;
	color: inherit;
}


.showMain {
	float: inherit;
}

/* 로그인  */
#login{
	width: 700px;
	height: 400px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	border:3px solid #e5e5e5;
	display: none;
}

#login .loginTitle {
	height: 15%;
	text-align: center;
	border-bottom: 3px solid #e5e5e5;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

#login .loginTitle h3 {
	margin: 0;
}

#login .loginTitle svg {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	cursor: pointer;
}

#login .loginMain {
	width: 100%;
	height: 85%;
	float: left;
	position: relative;
}

#login .loginMain .loginForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login .loginMain .loginForm input {
	width: 300px;
	float: right;
	height: 50px;
	border: 1px solid #e5e5e5;
	padding: 10px;
}

#login .loginMain .loginForm input[type=submit] {
	width: 350px;
}

#login .loginMain .loginForm svg {
	border: 1px solid #e5e5e5;
	position: absolute;
	background-color: #fff;
	padding: 10px;
}

#login .loginMain .loginForm .login-label-group {
	width: 350px;
	height: 50px;
	position: relative;
	margin-bottom: 15px;
}

#login .loginMain .loginForm .login-label-group label {
	position: absolute;
	top: 0;
	left: 45px;
	display: block;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
	padding: 1.4rem;
}

#login .loginMain .loginForm .login-label-group input::placeholder {
	color: transparent;
}

#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown) {
	padding-top:1.25rem;
	padding-bottom:.25rem;
}
#login .loginMain .loginForm .login-label-group input:not(:placeholder-shown) ~ label {
	padding-top:.25rem;
	padding-bottom:.25rem;
	font-size:12px;
	color:#777;
}